.skip-to-content {
    padding: var(--margin__medium);
    color: var(--color__link);
    background: var(--color__background);
    display: block;
    border: 1px solid white;
    position: fixed;
    z-index: 9999;
    top: 3px;
    left: 3px;
    &:not(:focus) {
        position: absolute;
        left: -100%;
        top: -100%;
    }
}