ol.book-list {
    list-style: disc;
}

.book-list__item {
    margin-bottom: var(--margin__small);
    &:last-child {
        margin-bottom: 0;
    }

    .book-title {
        margin: 0;
        font-size: var(--font__size__heading-4);
    }

    p {
        margin: 0;
    }

    .book-metadata {
        color: var(--color__text-alt);
    }
}
