.content .header-anchor {
    position: absolute;
    color: var(--color__link);
    transform: translateX(-0.65em);
    text-decoration: none;
    opacity: 0;

    &:visited {
        color: var(--color__link);
    }

    &:focus,
    &:hover {
        color: var(--color__link);
        background: none;
        text-decoration: underline;

        &:visited {
            color: var(--color__link);
            background: none;
        }
    }
}

.content h1, h2, h3, h4 {
    &:hover,
    &:focus,
    &:focus-within {
        .header-anchor {
            opacity: 1;
        }
    }
}
