.content {
	margin-right: auto;
	margin-left: auto;
	padding: var(--padding__medium);
	width: 100%;
	max-width: var(--max-width__content);

	@include respond-to(small) {
		padding-bottom: var(--padding__large);
	}

	> * {
		width: 100%;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	a {
		color: oklch(var(--color__lightness) var(--color__chroma) var(--color__hue));
		text-decoration: underline;

		&:visited {
			color: oklch(var(--color__lightness-secondary) var(--color__chroma-secondary) var(--color__hue-secondary));
		}

		&:hover,
		&:focus {
			background: oklch(var(--color__lightness) var(--color__chroma) var(--color__hue));
			color: var(--color__background);
			text-decoration: none;

			&:visited {
				background: oklch(
					var(--color__lightness-secondary) var(--color__chroma-secondary) var(--color__hue-secondary)
				);
			}
		}
	}
}
