.fleuron {
	margin-block-start: var(--margin__large);
	margin-block-end: var(--margin__large);
	color: oklch(var(--color__lightness) var(--color__chroma) var(--color__hue));
	// Example fleuron characters: ✃⁂➤✎☘☂⛬
	font-size: var(--font__size__heading-1);
	line-height: 1;
	user-select: none;
	text-align: center;
}
