.content {
    width: 100%;
    max-width: var(--max-width__content);
    padding: var(--padding__medium);
    margin-right: auto;
    margin-left: auto;

    @include respond-to(small) {
        padding-bottom: var(--padding__large);
    }

    > * {
        width: 100%;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    a {
        color: var(--color__accent);
        text-decoration: underline;

        &:visited {
            color: var(--color__accent-secondary);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: var(--color__background);
            background: var(--color__accent);

            &:visited {
                background: var(--color__accent-secondary);
            }
        }
    }
}
