ol.game-list {
    margin-block-start: 1em;
    list-style: none;
    padding-inline-start: 0;
}

.game-list__item {
    display: flex;
    margin-bottom: var(--margin__small);
    &:last-child {
        margin-bottom: 0;
    }

    .icon {
        width: 1em;
        height: 1em;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: .4em;
        margin-right: .5em;

        &.-large {
            height: 2em;
            width: 2em;
        }
    }

    .game-title {
        margin: 0;
        font-size: var(--font__size__heading-4);
    }

    &-content {

    }

    p {
        margin: 0;
    }

    .game-metadata {
        color: var(--color__text-alt);
    }
}
