ol.book-list {
  margin-block-start: 1em;
  list-style: none;
  padding-inline-start: .6em;
}

.book-list__item {
  display: flex;
  margin-bottom: var(--margin__small);
  &:last-child {
    margin-bottom: 0;
  }

  .book-list__cover {
    width: 5rem;
    height: fit-content;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: .5em;
  }

  .book-title {
    margin: 0;
    font-size: var(--font__size__heading-4);
  }

  &-content {

  }

  p {
    margin: 0;
  }

  .game-metadata {
    color: var(--color__text-alt);
  }
}
