.icon, .content .icon {
    display: inline-block;
    bottom: 0.1em;
    position: relative;
    width: auto;
    height: 1em;
    vertical-align: sub;

    &.-large {
        height: 1.5em;
        vertical-align: middle;
        bottom: 0.15em;
    }

    &.-strava {
        color: #e34a00;
    }

    &.-gaming {
        color: #B172FD;
    }

    &.-fermentables {
        color: #ffca5a;
    }

    &.-hops {
        color: #6f9a4b;
    }

    &.-yeast {
        color: #e2b693;
    }
}
