.icon, .content .icon {
    display: inline-block;
    bottom: 0.1em;
    position: relative;
    height: auto;
    width: 1em;
    vertical-align: sub;
    align-self: flex-start;

    &.-large {
        width: 1.5em;
        vertical-align: middle;
        bottom: 0.15em;
    }

    &.-strava {
        color: oklch(70% 0.2 38deg);
    }

    &.-gaming {
        color: oklch(70% 0.2 300deg);
    }

    &.-fermentables {
        color: oklch(70% 0.15 80deg);
    }

    &.-hops {
        color: oklch(70% 0.1 132deg);
    }

    &.-yeast {
        color: oklch(80% 0.06 60deg);
    }
}
