.pack {
	margin-top: 1em;
	margin-bottom: 0.5em;
	&__label {
		display: block;
		margin-block-start: var(--margin__medium);
		margin-block-end: var(--margin__small);

		.icon {
			margin-right: calc(0.2em + 0.5rem);
		}
	}

	&__item__category-heading {
		font-weight: 600;
		text-transform: uppercase;
	}

	&__category {
		background: oklch(77% 0 0deg / 0.1);

		.icon {
			margin-left: 0.3rem;
		}

		> span {
			position: relative;
			z-index: 2;
		}

		&-summary {
			display: grid;
			position: relative;
			grid-template-columns: 3em 1fr auto;
			grid-template-areas:
				"left middle right"
				"bottom-left bottom bottom-right";
			border-bottom: 1px solid var(--color__background);

			&:focus,
			&:hover {
				background: oklch(77% 0 0deg / 0.1);
			}
			> * {
				z-index: 10;
			}
			&__bar {
				position: absolute !important;
				top: 0;
				right: 0;
				opacity: 0.5;
				z-index: 1 !important;
				max-width: 100%;
				height: 100%;
			}

			&__left {
				position: relative;
				grid-area: left;
				padding-right: 0.2em;
				text-align: right;
			}

			&__middle {
				grid-area: middle;
			}

			&__right {
				grid-area: right;
				text-align: right;
			}

			.-caret {
			}
		}

		.pack__category-summary .pack__category-summary__left:before {
			display: inline-block;
			position: absolute;
			top: 0.5em;
			left: 0.4em;
			border-top: 0.6rem solid transparent;
			border-bottom: 0.6rem solid transparent;
			border-left: 0.6rem solid var(--color__text);
			width: 0.1rem;
			content: "";
		}

		&[open] .pack__category-summary .pack__category-summary__left:before {
			top: 0.7em;
			left: 0.3em;
			border-top: 0.6rem solid var(--color__text);
			border-right: 0.6rem solid transparent;
			border-left: 0.6rem solid transparent;
			content: "";
		}
	}

	&__list {
		display: block;
		margin: 0;
		margin-block-end: var(--margin__small);
		padding: var(--padding__small);
		list-style: none;

		&-item {
			display: grid;
			grid-template-columns: 2em 1fr auto;
			grid-gap: 0 0.5rem;
			grid-template-rows: auto;
			grid-template-areas:
				"left middle right"
				"bottom-left bottom bottom-right";
			margin-bottom: 0.5em;

			&__left {
				grid-area: left;
			}

			&__middle {
				grid-area: middle;
			}

			&__right {
				grid-area: right;
				text-align: right;
			}

			&__bottom-left {
				grid-area: bottom-left;
				font-size: var(--font__size-base);
			}

			&__bottom {
				grid-area: bottom;
				font-size: var(--font__size-base);
			}

			&__bottom-right {
				grid-area: bottom-right;
				font-size: var(--font__size-base);
				text-align: right;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__list-button {
		position: absolute;
		bottom: 0;
		z-index: 1;
	}
}

// Features with JavaScript enabled
.js {
	.pack {
		&__list-container {
			overflow: hidden;

			&.-collapsed {
				position: relative;
				max-height: 20rem;
			}

			&.-collapsed:after {
				position: absolute;
				top: 0;
				left: 0;
				background: var(--color__background__gradient);
				width: 100%;
				height: 100%;
				content: "";
			}

			> :first-child {
				margin-top: 0;
			}
		}
	}
}
