.post-header {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    background-position: center;
    background-size: cover;
    color: var(--color__text);

    a {
        color: var(--color__text);
    }



    .post-title {
        margin-top: var(--margin__medium);
        margin-bottom: var(--margin__small);
        font-weight: 900;

        svg {
            width: 90%;
            max-width: 60rem;
            padding-bottom: var(--padding__small);
        }
    }

    .post-date {
        margin-top: var(--margin__small);
    }

    .tags {
        margin-top: var(--margin__medium);
        .tag {
            display: inline-block;
            margin-right: .4em;
            color: inherit;
            background: var(--color__background__widget);
            padding: 0 .5em;
            margin-bottom: .4em;
        }
    }

    .post-metadata {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: var(--max-width__content);
        padding: 0 var(--padding__medium);

        :last-child {
            margin-bottom: 0;
        }
    }

    &:not(.-feature-image){
        .post-title {
            //noinspection CssInvalidPropertyValue
            @supports ((background-clip: text) and (background: linear-gradient(120deg, var(--color__link__visited) 0%, var(--color__link) 37.5%, var(--color__link__visited) 100%))) {
                background: linear-gradient(120deg, var(--color__link__visited) 0%, var(--color__link) 37.5%, var(--color__link__visited) 100%);
                background-clip: text;
                color: transparent;
            }
        }
    }

    &.-feature-image {
        .post-header__image {
            width: 100%;
            margin: 0;

            img {
                width: 100%;
                aspect-ratio: 16/9;
                min-height: 30vh;
                max-height: 60vh;
                margin: 0;
                padding: 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }

}
