.site-header {
	background-color: var(--color__background);
}

.site-header__content {
	display: flex;
	position: relative;
	flex-direction: row;
	z-index: 10;
	margin: auto;
	padding-right: var(--padding__medium);
	padding-left: var(--padding__medium);
	max-width: var(--max-width__base);
	color: var(--color__text-alt);
	line-height: var(--header__height);
	font-family: var(--font__meta);

	.site__title {
		margin: 0;
		font-size: 115%;
		line-height: inherit;
		letter-spacing: inherit;

		a {
			font-weight: 700;
		}
	}

	.site__image {
		position: relative;
		top: calc(var(--header__height) * -0.05);
		vertical-align: middle;
		margin: 0;
		margin-right: 0.75em;
		border-radius: 50%;
		width: calc(var(--header__height) * 0.5);
	}

	a {
		color: var(--color__text);
		font-weight: 600;
		text-decoration: none;
		&:visited {
			color: var(--color__text);
		}

		&:hover,
		&:focus,
		&.active {
			text-decoration: underline;
		}
	}

	.site__description {
		display: none;
		font-style: italic;
		font-size: var(--font__size-base);
		font-family: var(--font__captions);

		@include respond-to(small) {
			display: inline;
		}
	}
}
