.post-template {
    main {
        background: var(--color__background);
    }
}

.tag-template {
    main {
        background: var(--color__background);
    }
}

.page-template {
    main {
        background: var(--color__background);
    }
}

.home-template {
    main {
        background: var(--color__background);

    }
}
