.theme-chooser-container {
    --color__background: white;
    --color__link: #{$color__blue};
    --color__link__visited: #{$color__purple};
    --color__text: black;
    --color__text-alt: #{$color__25-brightness};

    @media (prefers-color-scheme: dark) {
        --color__background: #141414;
        --color__link: #6183fd;
        --color__link__visited: #B172FD;
        --color__text: #{$color__95-brightness};
        --color__text-alt: #{$color__65-brightness};
    }

    display: flex;
    width: 100%;
    padding: var(--padding__medium) var(--padding__medium);
    column-gap: var(--margin__small);
    justify-content: center;
    background: var(--color__background__alt);
    overflow-x: scroll;
}

.theme-chooser {
    position: relative;
    min-width: 10rem;
    margin: 0;
    padding: var(--padding__small);
    padding-bottom: 4rem;
    border: 2px solid #8989898a;
    border-radius: 3px;
    background: var(--color__background);

    cursor: pointer;

    &.active {
        border: 2px solid var(--color__text);
    }

    &:hover, &:focus {
        border: 2px solid var(--color__link);
    }

    &__title {
        font-size: var(--font__size);
        color: var(--color__text);
    }
    &__dot {
        position: absolute;
        left: .7rem;
        bottom: .7rem;
        display: block;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid var(--color__background);

        &.-text {
            transform: translateX(0);
            background: var(--color__text);
            z-index: 4;
        }
        &.-text-alt {
            transform: translateX(75%);
            background: var(--color__text-alt);
            z-index: 3;
        }
        &.-link {
            transform: translateX(150%);
            background: var(--color__link);
            z-index: 2;
        }
        &.-link-visited {
            transform: translateX(225%);
            background: var(--color__link__visited);
            z-index: 1;
        }
    }


    &.-light {
        --color__background: white;
        --color__link: #{$color__blue};
        --color__link__visited: #{$color__purple};
        --color__text: black;
        --color__text-alt: #{$color__25-brightness};
    }

    &.-dark {
        --color__background: #141414;
        --color__link: #6183fd;
        --color__link__visited: #B172FD;
        --color__text: #{$color__95-brightness};
        --color__text-alt: #{$color__65-brightness};
    }

    &.-greenery {
        --color__background: #ffffff;
        --color__link: #5e931f;
        --color__link__visited: #425728;
        --color__text: black;
        --color__text-alt: #404040;
    }

    &.-gastly {
        --color__background: #1b0b36;
        --color__link: #9090f5;
        --color__link__visited: #95799F;
        --color__text: #{$color__95-brightness};
        --color__text-alt: #{$color__65-brightness};
    }

    &.-mewtwo {
        --color__background: #DAD4E0;
        --color__link: #926993;
        --color__link__visited: #7b6c7c;
        --color__text: black;
        --color__text-alt: #{$color__25-brightness};
    }

    &.-umbreon {
        --color__background: #293134;
        --color__link: #EBC675;
        --color__link__visited: #af9661;
        --color__text: #{$color__95-brightness};
        --color__text-alt: #{$color__65-brightness};
    }

    &.-web1 {
        font-family: sans-serif;
        --color__background: white;
        --color__link: #0000FF;
        --color__link__visited: #800080;
        --color__text: #000000;
        --color__text-alt: #202122;
    }
}
