.beers {
	display: grid;
	grid-auto-flow: dense;
	margin-top: var(--margin--medium);
	margin-bottom: var(--margin--large);
	gap: var(--margin--large);
	grid-template-columns: 1fr;

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--small) {
		grid-template-columns: 1fr 1fr;
	}

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--medium) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.beer {
	margin: auto;
	width: 100%;
	a {
		&:hover,
		&:focus {
			background: none !important;
			.beer-label {
				filter: drop-shadow(0 0 1rem var(--color--accent, var(--color--accent)));
			}
		}
	}

	.beer-title {
		margin: 0;
	}

	.beer-label {
		width: 100%;
	}
}
