.content {
	display: grid;
	grid-template-columns:
		[full-start] var(--layout-full)
		[wide-start] var(--layout-wide)
		[content-start] var(--layout-content) [content-end]
		var(--layout-wide) [wide-end]
		var(--layout-full) [full-end];
	row-gap: var(--margin--small);
	padding-top: var(--padding--small);
	padding-bottom: var(--padding--medium);

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--medium) {
		padding-top: var(--padding--medium);
		padding-bottom: var(--padding--large);
	}

	.full,
	.-full {
		grid-column: full;

		img {
			border-radius: 0;
		}
	}

	.wide,
	.-wide {
		grid-column: wide;
	}

	> * {
		grid-column: content;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
