.content .gallery {
	display: flex;
	flex-direction: column;
	.gallery-row {
		margin: var(--margin--small) 0 0 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.content .gallery-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	margin-top: var(--margin--medium);
	margin-bottom: var(--margin--medium);


	> figure {
		margin: 0;
	}
	> figure:not(:last-of-type) {
		margin-bottom: var(--margin--small);
	}

	img {
		width: 100%;
	}

	/* noinspection CssInvalidMediaFeature */
	@media (--viewport--medium) {
		display: flex;
		flex-direction: row;
		margin: 0;
		margin-top: var(--margin--medium);
		margin-bottom: var(--margin--medium);

		> figure:not(:last-of-type) {
			margin-right: var(--margin--small);
			margin-bottom: 0;
		}
	}

	&.-no-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: var(--margin--small);

		> figure {
			margin: 0;
		}
		> figure:not(:last-of-type) {
			margin-right: var(--margin--small);
		}

		img {
			width: 100%;
		}
	}
}
