.content {
	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	img {
		display: block;
		position: relative;
		margin: 0 auto;
		background: none;
		max-width: 100%;
		height: auto;
		font-family: var(--font--captions);
		text-align: center;

		&:before {
			display: block;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
			max-width: 50ch;
			content: attr(alt);
			text-wrap: pretty;
		}

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			background: var(--color--background--alt);
			width: 100%;
			height: 100%;
			content: "";
		}
	}
}
