.content {
	display: grid;
	grid-template-columns:
		[full-start] var(--layout-full)
		[wide-start] var(--layout-wide)
		[content-start] var(--layout-content) [content-end]
		var(--layout-wide) [wide-end]
		var(--layout-full) [full-end];
	row-gap: var(--margin--small);
	padding-top: var(--padding--medium);
	padding-bottom: var(--padding--medium);

	.full,
	.-full {
		grid-column: full;
	}

	.wide,
	.-wide {
		grid-column: wide;
	}

	> * {
		grid-column: content;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;

		&:hover,
		&:focus-visible {
			background: var(--color--accent);
			color: var(--color--background);
			text-decoration: none;

			&:visited {
				background: var(--color--accent--secondary);
				color: var(--color--background);
			}
		}
	}
}
