.content .button {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	border: 0;
	background: var(--color--accent);
	padding: 0.5em 0.8em;
	color: var(--color--background);
	font-weight: inherit;
	font-size: inherit;
	line-height: 1.5;
	font-family: inherit;
	text-decoration: none;

	&:visited {
		background: var(--color--accent);
		color: var(--color--background);
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
