.fleuron {
	/* Example fleuron characters: ✃⁂➤✎☘☂⛬ */

	margin-block-start: var(--margin--large);
	margin-block-end: var(--margin--large);
	color: var(--color--accent);
	font-size: var(--font--size--heading-1);
	line-height: 1;
	text-align: center;
}
