.pack {
	margin-top: 1em;
	margin-bottom: 0.5em;
	.pack__label {
		display: block;
		margin-block-start: var(--margin--medium);
		margin-block-end: var(--margin--small);

		.icon {
			margin-right: calc(0.2em + 0.5rem);
		}
	}

	.pack__item__category-heading {
		font-weight: 600;
		text-transform: uppercase;
	}

	.pack__category {
		background: oklch(77% 0 0deg / 0.1);

		.icon {
			margin-left: 0.3rem;
		}

		> span {
			position: relative;
			z-index: 2;
		}

		.pack__category-summary {
			display: grid;
			position: relative;
			grid-template-columns: 3.3em 1fr auto;
			grid-template-areas:
				"left middle right"
				"bottom-left bottom bottom-right";
			border-bottom: 1px solid var(--color--background);

			&:focus,
			&:hover {
				background: oklch(77% 0 0deg / 0.1);
			}
			> * {
				z-index: 10;
			}
			.pack__category-summary__bar {
				position: absolute !important;
				top: 0;
				right: 0;
				opacity: 0.5;
				z-index: 1 !important;
				max-width: 100%;
				height: 100%;
			}

			.pack__category-summary__left {
				position: relative;
				grid-area: left;
				padding-right: 0.2em;
				text-align: right;
			}

			.pack__category-summary__middle {
				grid-area: middle;
			}

			.pack__category-summary__right {
				grid-area: right;
				text-align: right;
			}

			.-caret {
			}
		}

		.pack__category-summary .pack__category-summary__left:before {
			display: inline-block;
			position: absolute;
			top: 0.5em;
			left: 0.4em;
			border-top: 0.375rem solid transparent;
			border-bottom: 0.375rem solid transparent;
			border-left: 0.375rem solid var(--color--body);
			width: 0.4rem;
			content: "";
		}

		&[open] .pack__category-summary .pack__category-summary__left:before {
			top: 0.7em;
			left: 0.3em;
			border-top: 0.375rem solid var(--color--body);
			border-right: 0.375rem solid transparent;
			border-left: 0.375rem solid transparent;
			content: "";
		}
	}

	.pack__list {
		display: block;
		margin: 0;
		margin-block-end: var(--margin--small);
		padding: var(--padding--small);
		list-style: none;

		.pack__list-item {
			display: grid;
			grid-template-columns: 2em 1fr auto;
			grid-gap: 0 0.3rem;
			grid-template-rows: auto;
			grid-template-areas:
				"left middle right"
				"bottom-left bottom bottom-right";
			margin-bottom: 0.5em;

			.pack__list-item__left {
				grid-area: left;
			}

			.pack__list-item__middle {
				grid-area: middle;
			}

			.pack__list-item__right {
				grid-area: right;
				text-align: right;
			}

			.pack__list-item__bottom-left {
				grid-area: bottom-left;
				font-size: var(--font--size--small);
			}

			.pack__list-item__bottom {
				grid-area: bottom;
				font-size: var(--font--size--small);
			}

			.pack__list-item__bottom-right {
				grid-area: bottom-right;
				font-size: var(--font--size--small);
				text-align: right;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.pack__list-button {
		position: absolute;
		bottom: 0;
		z-index: 1;
	}
}

/* Features with JavaScript enabled */
.js {
	.pack {
		.pack__list-container {
			overflow: clip;

			&.-collapsed {
				position: relative;
				max-height: 20rem;
			}

			&.-collapsed:after {
				position: absolute;
				top: 0;
				left: 0;
				background: var(--color--background--gradient);
				width: 100%;
				height: 100%;
				content: "";
			}

			> :first-child {
				margin-top: 0;
			}
		}
	}
}
