.post-header {
	background-position: center;
	background-size: cover;
	padding: 0;
	color: var(--color--body);

	a {
		color: var(--color--body);
	}

	.post-title {
		margin-top: var(--margin--medium);
		margin-bottom: var(--margin--small);
		width: fit-content;
		font-weight: 900;

		svg {
			padding-bottom: var(--padding--medium);
			width: 100%;
			max-width: 60rem;
		}
	}

	.post-date {
		margin-top: var(--margin--small);
		color: var(--color--body--alt);
	}

	.tags {
		margin-top: var(--margin--medium);
	}

	.post-metadata {
		position: relative;
		z-index: 10;
		margin: 0 auto;
		width: 100%;
		max-width: min(var(--max-width__content), calc(100% - 2 * var(--margin--medium)));

		:last-child {
			margin-bottom: 0;
		}
	}

	&:not(.-feature-image) {
		.post-title, .post-title span {
			/* noinspection CssInvalidPropertyValue */
			@supports (
				(background-clip: text) and
					(background: linear-gradient(120deg, black 0%, white 37.5%, black 100%))
			) {
				background: linear-gradient(
					120deg,
					var(--color--accent) 0%,
					var(--color--accent--secondary) 37.5%,
					var(--color--accent) 100%
				);
				background-clip: text;
				color: transparent;
			}
		}
	}

	&.-feature-image {
		.post-header__image {
			box-shadow: none;
			margin: 0;
			width: 100%;

			img {
				margin: 0;
				border-radius: 0;
				padding: 0;
				aspect-ratio: 16/9;
				width: 100%;
				min-height: 30vh;
				max-height: 60vh;
				object-fit: cover;
				object-position: center;
			}
		}

		&.-feature-image--bottom {
			.post-header__image img {
				object-position: bottom;
			}
		}

		&.-feature-image--top {
			.post-header__image img {
				object-position: top;
			}
		}

		&.-feature-image--left {
			.post-header__image img {
				object-position: left;
			}
		}

		&.-feature-image--right {
			.post-header__image img {
				object-position: right;
			}
		}
	}
}
