.site-header__navigation {
	display: flex;
	flex: 1;
	font-size: var(--font--size--small);

	ul {
		flex: 1;
		margin: 0;
		padding-inline-start: 0;
		text-align: center;

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--small) {
			text-align: right;
		}

		li {
			display: inline-block;
			margin-left: var(--margin--small);
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
