.site-header {
	background-color: var(--color--background);
}

.site-header__content {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 10;
	margin: auto;
	padding-right: var(--padding--medium);
	padding-left: var(--padding--medium);
	max-width: var(--max-width__base);
	color: var(--color--body--alt);
	line-height: var(--header--height);
	font-family: var(--font--meta);

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--small) {
		flex-direction: row;
	}
	.site__title {
		margin: 0;
		font-size: 115%;
		line-height: inherit;
		letter-spacing: inherit;
		text-align: center;

		a {
			font-weight: 700;
		}

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--small) {
			text-align: left;
		}
	}

	.site__image {
		display: inline-block;
		position: relative;
		top: calc(var(--header--height) * -0.05);
		vertical-align: middle;
		margin: 0;
		margin-right: 0.75em;
		border-radius: 50%;
		width: calc(var(--header--height) * 0.5);
	}

	a {
		color: var(--color--body);
		font-weight: 600;
		text-decoration: none;
		&:visited {
			color: var(--color--body);
		}

		&:hover,
		&:focus,
		&.active {
			text-decoration: underline;
		}
	}

	.site__description {
		display: none;
		font-style: italic;
		font-size: var(--font--size--small);
		font-family: var(--font--captions);

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--small) {
			display: inline;
		}
	}
}
