.site-footer {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--color--background--alt);
	font-family: var(--font--meta);

	a {
		border: 0;
		color: var(--color--body);
		text-decoration: none;
		&:hover,
		&:focus-visible {
			background: inherit;
			color: inherit;
			text-decoration: underline;

			&:visited {
				background: inherit;
				color: inherit;
			}
		}
	}
}

.site-footer__content {
	display: flex;
	flex-direction: column;
	padding: var(--padding--large) var(--padding--medium);
	width: 100%;
	max-width: var(--max-width__base);
	font-size: var(--font--size--default);
	text-align: center;

	label {
		color: var(--color--body);
	}
}

.site-footer__navigation {
	color: var(--color--body);
}

.site-footer__heading {
	margin-top: 0;
	margin-bottom: var(--margin--small);
	font-size: var(--font--size--heading-4);
	font-family: var(--font--meta);
}
