.tags {
	color: var(--color--body--alt);
	font-family: var(--font--meta);

	.tag {
		display: inline-block;
		margin-right: 0.4em;
		margin-bottom: 0.4em;
		box-shadow: var(--color--shadow);
		border-radius: var(--border-radius--tag);
		background: oklch(from var(--color--background) calc(l + 0.1) c h);
		padding-right: 0.6em;
		color: inherit;

		a {
			display: inline-block;
			padding: 0.1em 0.5em;
			padding-right: 0;
			color: var(--color--body);
			text-decoration: none;

			&:hover,
			&:focus {
				background: none;
				color: var(--color--accent);
				text-decoration: underline;

				&:visited {
					background: none;
					color: var(--color--accent--secondary);
				}
			}

			&:not(:last-child) {
				padding-right: 0;
			}
		}
	}
}
