.tags {
	color: var(--color--body--alt);
	font-family: var(--font--meta);
	.tag {
		display: inline-block;
		margin-right: 0.4em;
		margin-bottom: 0.4em;
		background: oklch(60% 0 0deg / 0.15);
		padding: 0.1em 0.5em;
		color: inherit;

		a {
			color: var(--color--body);
			text-decoration: none;

			&:hover,
			&:focus {
				background: none;
				color: var(--color--accent);
				text-decoration: underline;

				&:visited {
					background: none;
					color: var(--color--accent--secondary);
				}
			}
		}
	}
}
