.post-template {
	main {
		background: var(--color--background);
	}
}

.tag-template {
	main {
		background: var(--color--background);
	}
}

.page-template {
	main {
		background: var(--color--background);
	}
}

.home-template {
	main {
		background: var(--color--background);
	}

	.posts {
		margin-top: 0;
		@media (min-width: var(--max-width__base)) {
			margin-top: var(--margin--medium);
		}
	}
}
