---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - beer
        - page
        - post
        - postsByYear
        - tagsBySize
permalink: /{{ tag | slug }}/feed.xml
"eleventyExcludeFromCollections": true
---{% set tagData = tagMetadata[tag] %}{% set title = tagData.title %}{% set feedTitle = tagData.feedTitle %}{% set taglist = collections[ tag ] %}<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/stylesheets/feeds.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{% if feedTitle %}{{ feedTitle }}{% else %}{{ metadata.title }} – {{ ( title | firstLetterUpper or tag | firstLetterUpper) }}{% endif %}</title>{% if subtitle %}
		<subtitle>{{ tagData.description }}</subtitle>{% endif %}
    <link href="{{ metadata.url }}/{{ tag | slug }}/feed.xml" rel="self"/>
    <link href="{{ metadata.url }}/{{ tag | slug }}/"/>
    <updated>{{ taglist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}/{{ tag | slug }}/</id>
	<category term="{% if tagData.title %}{{ tagData.title | firstLetterUppercase }}{% else %}{{ tag | firstLetterUppercase }}{% endif %}"/>
    <author>
        <name>{{ metadata.author.name }} {{ metadata.author.surname }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in taglist | reverse -%}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url ) }}{% endset %}
	{%- set postId %}{{ post.data.id | htmlBaseUrl(metadata.url) if post.data.id else absolutePostUrl }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ postId }}</id>{%- for tag in post.data.tags -%}{% if (tag !== 'posts') and (tag !== 'page') %}{% set tagData = tagMetadata[tag] %}
		<category term="{% if tagData.title %}{{ tagData.title | firstLetterUppercase }}{% else %}{{ tag | firstLetterUppercase }}{% endif %}"/>{% endif %}{%- endfor %}
        <content type="html">{{ post.templateContent | renderTransforms(post.data.page, metadata.url) }}
		</content>
    </entry>
    {%- endfor %}
</feed>
