---
type: page
meta:
    language: sv_SE
eleventyComputed:
    meta:
        site:
            name: "{{ metadata.title }}"
            description: "{{ metadata.description }}"
            url: "{{ metadata.url }}"
        title: "{% if page_title %}{{ page_title }}{% elseif title %}{{ title }}{% elseif tagMetadata[ tag ].title %}{{ tagMetadata[ tag ].title | firstLetterUpper }}{% else %}{{ metadata.title }}{% endif %}"
        description: "{% if tagMetadata[ tag ].description %}{{ tagMetadata[ tag ].description }}{% elseif description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}"
        image:
            src: "{% if thumbnail_image %}{{ metadata.url + thumbnail_image | parseImagePath(page.url) }}{% elseif feature_image %}{{ metadata.url }}{{ feature_image | openGraphImageFilter(page) }}{% elseif templateClass === 'home-template' %}{{ metadata.url }}/assets/images/website_feature.jpg{% else %}{% endif %}"
---
<!doctype html>
<html lang="sv" class="no-js">
<head>
    <meta charset="utf-8">

    <meta name="generator" content="{{ eleventy.generator }}">

    <title>{% if page_title %}{{ page_title }}{% elseif title %}{{ title }} / {{ metadata.title }}{% elseif tagMetadata[ tag ].title %}{{ tagMetadata[ tag ].title | firstLetterUpper }} / {{ metadata.title }}{% else %}{{ metadata.title }} / {{ metadata.description }}{% endif %}</title>
    <meta name="description" content="{% if tagMetadata[ tag ].description %}{{ tagMetadata[ tag ].description }}{% elseif description %}{{ description }}{% else %}{{ metadata.description }}{{  metadata.description }}{% endif %}">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/stylesheets/gustavlindqvist.css?{% checksum './src/assets/stylesheets/gustavlindqvist.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="view-transition" content="same-origin">

    <link rel="manifest" href="/site.webmanifest">

    <script src="/assets/javascript/dayjs.min.js" defer></script>
    <script src="/assets/javascript/gustavlindqvist.js?{% checksum './src/assets/javascript/gustavlindqvist.js' %}" defer></script>
    <script src="https://plausible.gustavlindqvist.se/js/plausible.js" async data-domain="gustavlindqvist.se"></script>

    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    <link rel="webmention" href="https://webmention.io/gustavlindqvist.se/webmention">
    <link rel="pingback" href="https://webmention.io/gustavlindqvist.se/xmlrpc">

    <meta property="og:title" content="{% if page_title %}{{ page_title }}{% elseif title %}{{ title }}{% elseif tagMetadata[ tag ].title %}{{ tagMetadata[ tag ].title | firstLetterUpper }}{% else %}{{ metadata.title }} / {{ metadata.description }}{% endif %}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:description" content="{% if tagMetadata[ tag ].description %}{{ tagMetadata[ tag ].description }}{% elseif description %}{{ description }}{% else %}{{ metadata.description }}{{  metadata.description }}{% endif %}">
    <meta property="og:image" content="{{ meta.image.src }}">
    <meta property="og:type" content="{% if type === 'post' %}article{% else %}website{% endif %}">

    {% include 'partials/identities.njk' %}

    {% include 'partials/feeds.njk' %}

    {% jsonLdScript meta, type, tags %}

    {% if color %}<style>:root { --color__background__post: {{ color }};}</style>{% endif %}

    <script>
        /* to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
</head>
<body class="{{ templateClass }}">
    <nav>
        <a class="skip-to-content" href="#site-navigation">Gå till toppmenyn</a>
        <a class="skip-to-content" href="#main">Gå till innehållet</a>
        <a class="skip-to-content" href="#footer">Gå till sidfoten</a>
    </nav>
    <header class="site-header hidden@print" aria-label="Sidhuvud">
        <div class="site-header__content">
            {% if templateClass === 'home-template' %}<h1 class="site__title"><a href="{{ metadata.url }}"><img src="/assets/images/blog-profilepic.jpg" class="site__image" alt="Selfie på Gustav Lindqvist" width="30" height="30">{{metadata.title}}</a></h1>{% else %}<span class="site__title"><a href="{{ metadata.url }}"><img src="/assets/images/blog-profilepic.jpg" class="site__image" alt="Selfie på Gustav Lindqvist" width="30" height="30">{{metadata.title}}</a></span>{% endif %}
            {% include 'partials/navigation.njk' %}
        </div>
    </header>
    <main id="main" class="main" aria-label="Innehåll" {% include 'partials/override-style.njk' %}>
        {{ content | safe }}
    </main>
    <footer id="footer" class="site-footer hidden@print" aria-label="Sidfot">
        {% include 'partials/footer.njk' %}
    </footer>
</body>
</html>
