---
layout: base.njk
templateClass: page-template
type: page
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date | isoString }}"
    modified: "{% if updateDate %}{{ updateDate | isoString }}{% endif %}"
---
{%- set canonicalURL = metadata.url + page.url -%}
{%- set hashId =  page.url | hashString -%}
{% if feature_image %}
    {%- set optimizedFeatureImage = feature_image | featureImageFilter("100vw", "page-header__image", page) %}
{% else %}
    {%- set optimizedFeatureImage = "" %}
{% endif %}
<article class="page"{% if language %} lang="{{ language }}"{% endif %}>
    <header id="page-header" class="page-header{% if feature_image %} -feature-image{% endif %}{% if feature_image_position %} -feature-image--{{ feature_image_position }}{% endif %}">
        {{ optimizedFeatureImage | safe }}
        <div class="page-metadata">
            <h1 class="page-title">{{ title | viewTransitionNamePerWord(hashId) | safe}}</h1>
        </div>
    </header>
    <section class="page-content content content-layout" id="page-content" aria-label="Sidans innehåll">
        {{ content | safe }}
    </section>
</article>
