---
layout: base.njk
templateClass: post-template
type: post
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date | isoString }}"
    modified: "{% if updateDate %}{{ updateDate | isoString }}{% endif %}"
---
{%- set canonicalURL = metadata.url + page.url -%}
{% if feature_image %}
    {%- set optimizedFeaturedImage = feature_image | featuredImageFilter("100vw", "post-header__image", page) %}
{% else %}
    {%- set optimizedFeaturedImage = "" %}
{% endif %}
{% if series %}{%- set nextPost = collections[series] | removePostsNotInSeries(series) | getNextCollectionItem(page) %}{% endif %}
<article class="post">
    <header id="post-header" class="post-header{% if feature_image %} -feature-image{% endif %}">
        {{ optimizedFeaturedImage | safe }}
        <div class="post-metadata">
            <h1 class="post-title" style="view-transition-name: post-title-{{ page.url | hashString}}">{{ title }}</h1>
            {% if page.date %}<p class="post-date"><time datetime="{{ page.date | fullISODate }}" title="{{ page.date | shortISODate }}">{{ page.date | readableLongDate }}</time></p>{% endif %}
            {% if tags %} <p class="tags"><span class="sr-only">Ämnen: </span>
                {%- for tag in tags -%}{% if (tag !== 'posts') and (tag !== 'page') %}{% set tagData = tagMetadata[tag] %}<span class="tag"><a href="/{{ tag | slug}}/">{% if tagData.emoji %}{{ tagData.emoji }} {% endif %}{% if tagData.title %}{{ tagData.title | firstLetterUppercase }}{% else %}{{ tag | firstLetterUppercase }}{% endif %}</a><span class="sr-only">, </span></span>{% endif %}{%- endfor -%}
            </p>{% endif %}
        </div>
    </header>
    <section class="post-content content" id="post-content" aria-label="Inläggets innehåll">
        {{ content | safe }}
        <p class="center small uppercase"><a class="secondary" href="https://git.gustavlindqvist.se/gustav/gustavlindqvist.se/src/branch/main{% editLink %}?display=source"><svg class="icon" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/text-box-edit.svg#icon"></use></svg> Redigera</a> · <a class="secondary" href="https://git.gustavlindqvist.se/gustav/gustavlindqvist.se/raw/branch/main{% editLink %}"><svg class="icon" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/markdown.svg#icon"></use></svg> Källkod</a></p>
        {% include "partials/comments.njk" %}
        {% if not (nextPost and series) %}{% include "partials/syndicated-content.njk" %}{% endif %}
    </section>
</article>
{% include "partials/next-post-in-series.njk" %}

