---
layout: base.njk
templateClass: post-template
type: post
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date | isoString }}"
    modified: "{% if updateDate %}{{ updateDate | isoString }}{% endif %}"
---
{%- set canonicalURL = metadata.url + page.url -%}
{%- set hashId =  page.url | hashString -%}
{% if feature_image %}
    {%- set optimizedFeatureImage = feature_image | featureImageFilter("100vw", "post-header__image -no-shadow", page) %}
{% else %}
    {%- set optimizedFeatureImage = "" %}
{% endif %}
{% if series %}{%- set nextPost = collections[series] | removePostsNotInSeries(series) | getNextCollectionItem(page) %}{% endif %}
<article class="post"{% if language %} lang="{{ language }}"{% endif %}>
    <header id="post-header" class="post-header {% if feature_image %} -feature-image{% endif %}{% if feature_image_position %} -feature-image--{{ feature_image_position }}{% endif %}">
        {{ optimizedFeatureImage | safe }}
        <div class="post-metadata">
            <h1 class="post-title">{{ title | viewTransitionNamePerWord(hashId) | safe}}</h1>
            {% if page.date %}<p class="post-date"><time datetime="{{ page.date | fullISODate }}" title="{{ page.date | longISODate }}">{{ page.date | readableLongDate }}</time></p>{% endif %}
            {% if tags %} <p class="tags"><span class="sr-only">Ämnen: </span>
                {%- for tag in tags -%}{% if (tag !== 'posts') and (tag !== 'page') %}{% set tagData = tagMetadata[tag] %}<span class="tag"><a href="/{{ tag | slug}}/">{% if tagData.emoji %}{{ tagData.emoji }} {% endif %}{% if tagData.title %}{{ tagData.title | firstLetterUppercase }}{% else %}{{ tag | firstLetterUppercase }}{% endif %}</a><span class="sr-only">, </span></span>{% endif %}{%- endfor -%}
            </p>{% endif %}
        </div>
    </header>
    <section class="post-content content content-layout" id="post-content" aria-label="Inläggets innehåll">
        {{ content | safe }}
    </section>
</article>
{% include "partials/next-post-in-series.njk" %}
