---
"permalink": "feed.xml"
"eleventyExcludeFromCollections": true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/stylesheets/feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.description }}</subtitle>
    <link href="{{ metadata.url }}{{ metadata.feed.path }}" rel="self"/>
    <link href="{{ metadata.url }}/blogg"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}/</id>
    <author>
        <name>{{ metadata.author.name }} {{ metadata.author.surname }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in collections.posts | reverse -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {% if post.data.feature_image %}
        {%- set optimizedFeaturedImage = post.data.feature_image | featuredImageFilter("100vw", "", post.data.page)%}
    {% endif %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">
            {% if post.data.feature_image %}{{ optimizedFeaturedImage | htmlToAbsoluteUrls(absolutePostUrl) | utf8_xml }}{% endif %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | utf8_xml }}
        </content>
    </entry>
    {%- endfor %}
</feed>
