/* Fonts
---------------
Fonts
--------------- */

$font__sans-serif: "Noto Sans", Arial, sans-serif;
$font__serif: "Noto Serif", "Times New Roman", serif;
$font__monospace: monospace;

$font__size: 1.6rem;
$font__size__base: 1.4rem;

$font__dynamic-scaling: 0.3vw;
$font__ratio: 1.25;
$font__dynamic-ratio: 1.3;
