@media (prefers-color-scheme: dark) {
    :root {
        --color__background: oklch(19% 0 0deg);
        --color__background__alt: oklch(23% 0 0deg);
        --color__background__widget: oklch(32% 0 0deg);
        --color__background__contrast: oklch(19% 0 0deg);
        --color__background__contrast__widget: oklch(27% 0 0deg);
        --color__background__contrast__alt: oklch(32% 0 0deg);
        --color__background__gradient: linear-gradient(180deg, transparent 0, oklch(19% 0 0deg) 100%);
        --color__overlay: oklch(0 0 0 / 0.5);
        --color__link: oklch(65% 0.2 270deg);
        --color__link__visited: oklch(65% 0.2 310deg);
        --color__text: oklch(95% 0 0deg);;
        --color__text-alt: oklch(65% 0 0deg);;
        --color__text__contrast: white;
    }
}