.hidden {
	display: none !important;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 0 var(--padding__medium);
	width: 100%;
	max-width: var(--max-width__base);
}

.secondary {
	color: var(--color__text-alt);
}

.-column-count-2 {
	column-count: 2;
}

.-flex-grow {
	flex: 1;
}

.-align-right {
	justify-content: right;
	text-align: right;
}

.-align-left {
	justify-content: left;
	text-align: left;
}

.sr-only {
	position: absolute;
	margin: -1 px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border-width: 0;
	white-space: nowrap;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.smallcaps {
	font-variant: all-small-caps;
}

.light {
	font-weight: 400;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

small,
.small {
	font-size: var(--font__size-base);
}

.normal {
	font-size: var(--font__size);
}

.large {
	font-size: var(--font__size__heading-4);
}

.no-js .hidden\@no-js {
	display: none;
}
