@media (prefers-color-scheme: dark) {
    :root {
        --color__background: #141414;
        --color__background__alt: #1e1e1e;
        --color__background__widget: #333333;
        --color__background__contrast: #141414;
        --color__background__contrast__widget: #262626;
        --color__background__contrast__alt: #333333;
        --color__background__gradient: linear-gradient(180deg,rgba(0,0,0,0) 0,#141414 100%);
        --color__overlay: rgba(0,0,0,.5);
        --color__link: #6183fd;
        --color__link__visited: #B172FD;
        --color__text: #{$color__95-brightness};
        --color__text-alt: #{$color__65-brightness};
        --color__text__contrast: white;
    }
}