[data-theme=charizard] {
    --color__background: #fff;
    --color__background__alt: #f7f9ec;
    --color__background__widget: #d0d5ba;
    --color__background__contrast: #262626;
    --color__background__contrast__widget: #141414;
    --color__background__contrast__alt: #050505;
    --color__background__gradient: linear-gradient(180deg,rgba(0,0,0,0) 0,white 100%);
    --color__overlay: rgba(0,0,0,.5);
    --color__link: #5e931f;
    --color__link__visited: #425728;
    --color__text: black;
    --color__text-alt: #404040;
    --color__text__contrast: white;
    --color__text__contrast__alt: #a9a9a9;
}
