[data-theme=umbreon] {
    --color__background: #293134;
    --color__background__alt: #3b4246;
    --color__background__widget: #333333;
    --color__background__contrast: #141414;
    --color__background__contrast__widget: #262626;
    --color__background__contrast__alt: #333333;
    --color__background__gradient: linear-gradient(180deg,rgba(0,0,0,0) 0,#141414 100%);
    --color__overlay: rgba(0,0,0,.5);
    --color__link: #EBC675;
    --color__link__visited: #af9661;
    --color__text: #{$color__95-brightness};
    --color__text-alt: #{$color__65-brightness};
    --color__text__contrast: white;
    --color__text__contrast__alt: #a9a9a9;
}
