.page-header.-feature-image .page-header__image,
.post-header.-feature-image .post-header__image {
    view-transition-name: hero
}

.post-title,
.post .Card__title {
    view-transition-name: title;
}

.post-date,
.post .Card__metadata time {
    view-transition-name: date;
}

.tags {
    view-transition-name: tags;
}
