/* Colors
-------------------
All colors used throughout the theme
------------------- */

:root {
  --color__accent: oklch(50% 0.25 270deg);
  --color__accent-secondary: oklch(50% 0.25 310deg);

  --color__background: white;
  --color__background__alt: oklch(97% 0 0deg);
  --color__background__widget: oklch(95% 0 0deg);
  --color__background__contrast: oklch(15% 0 0deg);
  --color__background__contrast__widget: oklch(8% 0 0deg);
  --color__background__contrast__alt: oklch(2% 0 0deg);
  --color__background__gradient: linear-gradient(180deg, transparent 0, white 100%);
  --color__overlay: oklch(0% 0 0deg / 0.5);

  --color__text: black;
  --color__text-alt: oklch(25% 0 0deg);
  --color__text__contrast: white;
  --color__text__contrast__alt: oklch(73% 0 0deg);

  --color__link: var(--color__accent);
  --color__link__visited: var(--color__accent-secondary);
}
