/* Colors
-------------------
All colors used throughout the theme
------------------- */
$color__97-brightness: #f7f7f7;
$color__95-brightness: #f1f1f1;
$color__79-brightness: #c9c9c9;
$color__65-brightness: #a6a6a6;
$color__52-brightness: #858585;
$color__45-brightness: #737373;
$color__35-brightness: #595959;
$color__25-brightness: #404040;
$color__15-brightness: #262626;
$color__11-brightness: #1c1c1c;
$color__8-brightness: #141414;
$color__2-brightness: #050505;

$color__blue: hsl(240, 100%, 60%);
$color__purple: hsl(285, 100%, 40%);
$color__green: hsl(120, 100%, 17%);
$color__red: hsl(0, 88%, 35%);

$color__transparent-black: hsla(0, 0%, 0%, 0.8);
