/* Sizes
---------------
Sizes, margins and paddings
--------------- */
:root {
	--max-width__base: 130ch;
	--max-width__content: 90ch;

	--margin__tiny: 0.5rem;
	--margin__small: 1rem;
	--margin__medium: 2rem;
	--margin__large: 4rem;
	--padding__tiny: 0.5rem;
	--padding__small: 1rem;
	--padding__medium: 2rem;
	--padding__large: 4rem;

	--header__height: 6rem;
}
