---
title: "Blogroll"
layout: base.njk
templateClass: post-template
type: page
description: "Alla flöden jag följer."
permalink: /blogroll/
date: 2021-12-09
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <section class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
            <p>{{ description }}</p>
        </section>
    </header>
    <section class="page-content content" id="page-content">
        <h2 id="blogroll">Bloggar och video</h2>
        <p><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/blogroll.xml">Följ med OPML</a></p>
        {%- for category in inoreader.feeds -%}
        <details>
            <summary><h3>{{ category.title }}<sup>({{ category.feeds | count }}<span class="sr-only"> flöden</span>)</sup></h3></summary>
            <ul class="-no-style">
            {%- for feed in category.feeds -%}
                <li>
                    <a href="{{ feed.htmlUrl }}"><img class="icon" src="https://avatars.gustavlindqvist.se/{{ feed.htmlUrl | encodeURIComponent }}" alt="Ikon för {{ feed.title }}"> {{ feed.title }}</a> <sup>[<a href="{{ feed.xmlUrl }}" title="för {{ feed.title }}">Flöde</a>]</sup>
                </li>
            {%- endfor -%}
            </ul>
        </details>
        {%- endfor -%}
        <h2 id="podcasts">Poddar</h2>
        <p><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/podcasts.xml">Följ med OPML</a></p>
        <p>Uppdateras tyvärr inte så ofta eftersom det görs via manuell export från mitt poddprogram.</p>
        <p>Senast uppdaterad: <time datetime="2023-03-21 10:22">2023-03-21</time></p>
        <details>
            <summary><h3>Podcasts<sup>({{ podcasts.feeds | count }})</sup></h3></summary>
            <ul class="-no-style">
                {%- for podcast in podcasts.feeds -%}
                    <li><a href="{{ podcast.xml_url }}"><img class="icon" src="https://avatars.gustavlindqvist.se/{{ podcast.xml_url | encodeURIComponent}}" alt="Ikon för {{ podcast.title }}"> {{ podcast.title }}</a></li>
                {%- endfor -%}
            </ul>
        </details>
    </section>
</article>
