---
title: "Prenumerera via flöden"
layout: page.njk
templateClass: post-template
type: page
feature_image:
description: "Prenumerera på bloggen via flöden (Atom)."
feedsToShow:
    - friluftsliv
    - fotografering
    - cykling
    - löpning
    - ölbryggning
    - kartor
    - resor
permalink: "/feeds/index.html"
---
<p>Följ <svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/feed.xml">bloggens primära flöde</a> eller något av alla flöden för specifika ämnen:</p>
<ul class="no-style">
    {%- for feed in feedsToShow -%}
        {% set tagData = tagMetadata[feed] %}
        {% set title = tagData.title %}
        <li><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/{{ feed | slug }}/feed.xml">Flöde för {{ title or feed }}</a></li>
    {%- endfor %}
</ul>
<h2>Andra flöden</h2>
<ul class="no-style">
    <li><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="https://www.openstreetmap.org/user/Reedyn/history/feed">Flöde för mina redigeringar på OpenStreetMap</a></li>
    <li><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="https://www.goodreads.com/review/list_rss/14070425?shelf=read">Flöde för mina lästa böcker på GoodReads</a></li>
    <li><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="https://untappd.com/rss/brewery/505146">Flöde för mitt bryggeri på Untappd</a></li>
</ul>
