---
title: "Just nu"
layout: base.njk
templateClass: post-template
type: page
description: "Detta är en sida som visar vad jag hittar på just nu."
permalink: /just-nu/
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <div class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
        </div>
    </header>
    <section aria-label="Sidans innehåll" class="page-content content" id="page-content">
        <p class="lead">Detta är <a href="https://nownownow.com/about">en sida som visar vad jag hittar på just nu</a>. Vill du läsa mer om min bakgrund så kan du läsa
            <a href="/om-mig">om mig</a>.</p>
        <ul class="-icons">
            <li><span>🏢</span><span>Jag bor i Jönköping och jobbar som webbutvecklare på <a href="https://ju.se/bibliotek">Högskolebiblioteket i Jönköping</a></span></li>
            {% if strava.activities.length %}{% for activity in strava.activities %}{% if loop.index0 < 1 %}
                {% if activity.type === 'Ride' %}<li><span>🚴</span><span>Jag cyklade <a href="https://www.strava.com/activities/{{ activity.id }}">{% if activity.distance_km %}<span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span> ({{ activity.name }}){% endif %}</a> <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></span></li>{% endif %}
                {% if activity.type === 'Run' %}<li><span>🏃‍</span><span>Jag sprang <a href="https://www.strava.com/activities/{{ activity.id }}">{% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span> ({{ activity.name }}){% endif %}</a> <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></span></li>{% endif %}
                {% if activity.type === 'Walk' %}<li><span>🚶‍</span><span>Jag gick <a href="https://www.strava.com/activities/{{ activity.id }}">{% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span> ({{ activity.name }}){% endif %}</a> <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></span></li>{% endif %}
                {% if activity.type === 'Hike' %}<li><span>‍🎒</span><span>Jag vandrade <a href="https://www.strava.com/activities/{{ activity.id }}">{% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span> ({{ activity.name }}){% endif %}</a> <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></span></li>{% endif %}
                {% if activity.type === 'Sail' %}<li><span>⛵</span><span>Jag seglade <a href="https://www.strava.com/activities/{{ activity.id }}"><time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time> ({{ activity.name }})</a></span></li>{% endif %}
            {% endif %}{% endfor %}{% endif %}
			<li><span>🔃</span><span>Jag leker med automatiseringar med det smarta hemmet</span></li>
			{% if steam.recently_played_games.length >= 2 %}
			<li>
				<span>🎮</span><span>Jag spelar:</span>
				<ul class="-icons">
					{% for game in steam.recently_played_games %}<li><img class="icon -rounded" src="{{ ('https://media.steampowered.com/steamcommunity/public/images/apps/'+game.appid+'/'+game.img_icon_url+'.jpg') | proxyImage(48) }}"><a lang="en" id="{{ game.appid }}" href="{{ game.url }}"><em>{{ game.name }}</em></a></li>{% endfor %}
				</ul>
			</li>
			{% elif steam.recently_played_games.length %}<li><span>🎮</span><span>Jag spelar{% for game in steam.recently_played_games %} <img class="icon -rounded" src="{{ ('https://media.steampowered.com/steamcommunity/public/images/apps/'+game.appid+'/'+game.img_icon_url+'.jpg') | proxyImage(48)}}"> <a lang="en" id="{{ game.appid }}" href="{{ game.url }}">{{ game.name }}</a>{% endfor %}</span></li>{% endif %}
			<li><span>🗺️</span><span>Jag ritar nya kartor för orienteringsklubben 💙</span></li>
            {% if goodreads.currently_reading.length >= 2 %}
					<li>
						<span>📚</span><span>Jag läser:</span>
						<ul class="-icons">
							{% for book in goodreads.currently_reading %}<li><img src="{{ book.book_small_image_url | proxyImage(48)}}" alt=""><a id="{{ book.book_id }}" href="{{ book.url }}"><em lang="en">{{ book.title }}</em></a> av {{ book.author }}</li>{% endfor %}
						</ul>
					</li>
			{% elif goodreads.currently_reading.length %}
					<li><span>📚</span><span>Jag läser {% for book in goodreads.currently_reading %}<a id="{{ book.book_id }}" href="{{ book.url }}"><em lang="en">{{ book.title }}</em></a> av {{ book.author }}{% endfor %}</span></li>
			{% endif %}
        </ul>
    </section>
</article>
