---
title: "Just nu"
layout: base.njk
templateClass: post-template
type: page
description: "Detta är en sida som visar vad jag hittar på just nu."
permalink: /just-nu/
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <div class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
        </div>
    </header>
    <section aria-label="Sidans innehåll" class="page-content content" id="page-content">
        <p class="lead">Detta är <a href="https://nownownow.com/about">en sida som visar vad jag hittar på just nu</a>. Vill du läsa mer om min bakgrund så kan du läsa
            <a href="/om-mig">om mig</a>.</p>
        <ul class="-icons">
            <li><span>🏢</span> <span>Jag bor i Jönköping och jobbar som webbutvecklare på <a href="https://ju.se/bibliotek">Högskolebiblioteket i Jönköping</a></span></li>
            {% if strava.activities.length %}{% for activity in strava.activities %}{% if loop.index0 < 1 %}
                {% if activity.type === 'Ride' %}<li><span>🚴</span> <span><a href="https://www.strava.com/activities/{{ activity.id }}" title="{{ activity.name }}">Jag cyklade {% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span>{% endif %} <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></a></span></li>{% endif %}
                {% if activity.type === 'Run' %}<li><span>🏃‍</span> <span><a href="https://www.strava.com/activities/{{ activity.id }}" title="{{ activity.name }}">Jag sprang {% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span>{% endif %} <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></a></span></li>{% endif %}
                {% if activity.type === 'Walk' %}<li><span>🚶‍</span> <span><a href="https://www.strava.com/activities/{{ activity.id }}" title="{{ activity.name }}">Jag gick {% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span>{% endif %} <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></a></span></li>{% endif %}
                {% if activity.type === 'Hike' %}<li><span>🚶‍🎒</span> <span><a href="https://www.strava.com/activities/{{ activity.id }}" title="{{ activity.name }}">Jag vandrade {% if activity.distance_km %} <span class="activity-distance">{{ activity.distance_km | dotToComma }}km</span>{% endif %} <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></a></span></li>{% endif %}
                {% if activity.type === 'Sail' %}<li><span>⛵</span> <span><a href="https://www.strava.com/activities/{{ activity.id }}" title="{{ activity.name }}">Jag seglade <time class="timeago" datetime="{{ activity.start_date | fullISODate }}" title="{{ activity.start_date | longISODate }}">{{ activity.start_date | readableDate }}</time></a></span></li>{% endif %}
            {% endif %}{% endfor %}{% endif %}
            <li><span>🧘</span> <span>Jag försöker få till en rutin med daglig meditation <sup>(det går så där)</sup></span></li>
            {% if goodreads.currently_reading.length %}{% if goodreads.currently_reading.length %}<li><span>📚</span> <span>Jag läser {% for book in goodreads.currently_reading %}<a id="{{ book.book_id }}" href="{{ book.url }}"><em>{{ book.title }}</em></a> av {{ book.author }}{% if loop.index0 < goodreads.currently_reading.length - 2 %}, {% endif %}{% if loop.index0 == goodreads.currently_reading.length - 2 %} och {% endif %}{% endfor %}</span></li>
            {% if steam.recently_played_games.length %}<li><span>🎮</span> <span>Jag spelar {% for game in steam.recently_played_games %}<img class="icon -rounded" src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg" alt="Ikon för spelet {{ game.name }}"> <a id="{{ game.appid }}" href="{{ game.url }}"> {{ game.name }}</a>{% if loop.index0 < steam.recently_played_games.length - 2 %}, {% endif %}{% if loop.index0 == steam.recently_played_games.length - 2 %} och {% endif %}{% endfor %}</span></li>{% endif %}
            {% endif %}{% endif %}
        </ul>
        <p class="page-source center small uppercase"><a class="secondary" href="https://git.gustavlindqvist.se/gustav/gustavlindqvist.se/_edit/main{% editLink %}?display=source"><svg class="icon" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/text-box-edit.svg#icon"></use></svg> Redigera</a> · <a class="secondary" href="https://git.gustavlindqvist.se/gustav/gustavlindqvist.se/raw/branch/main{% editLink %}"><svg class="icon" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/markdown.svg#icon"></use></svg> Källkod</a></p>
    </section>
</article>
