---
title: "Gustavs länkblogg"
layout: base.njk
templateClass: post-template
type: page
description: "En samling intressanta länkar jag snubblat över när jag surfat runt på webben."
permalink: /linkblog/
feed: /linkblog.xml
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <div class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
            <p><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/linkblog.xml">Flöde för länkbloggen</a></p>
            <p class="description">{{ description | renderUsingMarkdown | safe }}</p>
        </div>
    </header>
    <section aria-label="Lista över innehåll" class="page-content wrapper Cards" id="page-content">
            {% for post in inoreader.linkblog %}
            {%- set computedDate = post.date | dateFromString -%}
            <article aria-labelledby="{{ post.url | hashString }}" class="Card bookmark -align-bottom{% if post.feature_image %} -feature-image{% endif %}" style="{% if post.feature_image %} background-image: url({{ post.feature_image }});{% endif %}">
                {% if (post.tags.length) %}<span class="Card__content__extra -top-left">
                    {% if (post.tags) %}<span class="tags">
                        {%- for tag in post.tags -%}
                            <span class="tag">{{ tag }}</span>
                        {%- endfor -%}
                        </span>{% endif %}
                    </span>{% endif %}
                <div class="Card__content">
                    <h2 class="Card__title"><a id="{{ post.url | hashString }}" class="Card__title-link" href="{{ post.url }}">{{ post.title | safe }}</a></h2>
                    <p class="source">{{ post.source.name | safe}}</p>
                </div>
            </article>
            {% endfor %}
    </section>
</article>
