---
title: "Gustavs länkblogg"
layout: base.njk
templateClass: post-template
type: page
description: "En samling länkar till allt intressant jag surfat in på, på webben."
permalink: /linkblog/
feed: /linkblog.xml
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <div class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
            <p><svg class="icon icon--feed" role="presentation" aria-hidden="true" width="12" height="12" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg> <a href="/linkblog.xml">Flöde för länkbloggen</a></p>
            {{ description | renderUsingMarkdown | safe }}
        </div>
    </header>
    <section aria-label="Lista över innehåll" class="page-content content" id="page-content">
		<ul class="post-list">
            {% for post in inoreader.linkblog %}<li class="post-list__item">
				<h3 class="post-title"><a id="{{ post.url | hashString}}" class="post-link" href="{{ post.url }}">{{ post.title | safe }}</a></h3><span class="post-metadata">{{ post.source.name | safe }}</span>
				</li>{% endfor %}
		</ul>
    </section>
</article>
