---
title: "Om mig"
layout: base.njk
templateClass: post-template
type: page
description: "Jag är en skåning bosatt i Jönköping sedan 2012. Sedan 2015 har jag jobbat som webbutvecklare på Högskolebiblioteket i Jönköping. Jag kommer ursprungligen från Trelleborg i södra Skåne där jag har min familj."
permalink: /om-mig/
eleventyComputed:
    meta:
        author:
            name: "{{ metadata.author.name }}"
    published: "{{ date }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
---
<article class="page">
    <header id="page-header" class="page-header">
        <div class="page-metadata">
            <h1 class="page-title">{{ title }}</h1>
        </div>
    </header>
    <section aria-label="Sidans innehåll" class="page-content content" id="page-content">
        <p class="lead">Jag är en skåning bosatt i Jönköping sedan 2012. Sedan 2015 har jag jobbat som webbutvecklare på <a href="https://ju.se/bibliotek">Högskolebiblioteket i Jönköping</a>. Jag kommer ursprungligen från Trelleborg i södra Skåne där jag har min familj.</p>
        <p>Här på bloggen skriver jag mestadels om vad jag hittar på på fritiden, <a href="/friluftsliv/">friluftsliv</a>, <a href="/fotografering/">fotografering</a>, <a href="/resor/">mina resor</a> och lite vad som faller mig in, det brukar inte bli så många tankar och sånt utan det är mer dokumentation för vad jag hittat på. </p>
        <p>Följ mig på <a href="https://jkpg.rocks/@gustav">Mastodon</a> om du vill följa mitt dagliga flöde, du kan även
            <a href="/just-nu/">se vad jag hittar på just nu</a>.</p>
    </section>
</article>
