.Breadcrumbs a {
	color: var(--color__text-alt);
}

.Breadcrumbs a:hover,
.Breadcrumbs a:focus {
	color: oklch(var(--color__lightness) var(--color__chroma) var(--color__hue));
}

.Breadcrumbs ol {
	margin: 0;
	font-size: 80%;
	list-style: none;
	padding-inline-start: 0;
	text-transform: uppercase;
}

.Breadcrumbs ol li {
	display: inline-block;
}

.Breadcrumbs ol li:before {
	content: none !important;
	display: none !important;
}

.Breadcrumbs ol li:after {
	color: var(--color__text-alt);
	content: "/";
}

.Breadcrumbs ol li:last-child:after {
	content: none;
}
