.Cards {
	--gutter: var(--margin__medium);

	display: grid;
	grid-auto-flow: dense;
	margin-top: var(--margin__medium);
	margin-bottom: var(--margin__medium);
	grid-gap: var(--gutter);
	grid-template-columns: 1fr;

	@include respond-to(small) {
		grid-template-columns: 1fr 1fr;
	}

	@include respond-to(medium) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.-max-2-columns {
		@include respond-to(medium) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.Card {
	display: flex;
	position: relative;
	flex-direction: column;
	background: var(--color__background__contrast__widget);
	background-position: center;
	background-size: cover;
	padding: calc(var(--padding__small) * 1.5);
	min-height: 25rem;
	overflow: hidden;
	color: var(--color__text__contrast);

	&.-align-bottom {
		justify-content: flex-end;
		padding-top: 8rem;
	}

	&.-align-top {
		justify-content: flex-start;
	}

	.tags .tag:not(:first-of-type) {
		display: none;
	}

	@include respond-to(medium) {
		&.post:first-of-type {
			grid-column-start: span 3;
			aspect-ratio: 21/9;

			.Card__title {
				font-size: 3rem;
			}

			.tags .tag {
				display: inline-block;
			}
		}
	}

	&.-feature-image {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient(0deg, #000 0, rgba(0, 0, 0, 0.7) 4em, transparent 8em);
			width: 100%;
			height: 100%;
			content: "";
		}

		&--bottom {
			img {
				object-position: bottom;
			}
		}

		&--top {
			img {
				object-position: top;
			}
		}

		&--left {
			img {
				object-position: left;
			}
		}

		&--right {
			img {
				object-position: right;
			}
		}
	}
}

.Card__content {
	z-index: 10;
	font-size: var(--font__size-base);
	text-shadow:
		0 1px 1px rgba(0, 0, 0, 0.1),
		0 2px 2px rgba(0, 0, 0, 0.2),
		0 4px 4px rgba(0, 0, 0, 0.15),
		0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.05);

	> * {
		margin: 0;
	}

	ul,
	ol {
		padding-inline-start: 2.5rem;
	}
	a {
		color: var(--color__text__contrast);
	}

	ol.metadata-list {
		margin-block-start: 1em;
		padding-inline-start: 0;
		list-style: none;
	}

	.metadata-list__item {
		margin-bottom: var(--margin__small);

		overflow: hidden;
		list-style: none;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			display: none;
			content: none;
		}
		&:last-child {
			margin-bottom: 0;
		}

		.metadata-title {
			margin: 0;
			font-size: var(--font__size__heading-4);
		}

		p {
			margin: 0;
		}

		.metadata-content {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.metadata-list__item-title {
			display: block;
			color: var(--color__text__contrast);
		}
		.metadata-values {
			color: var(--color__text__contrast__alt);
		}
	}
}

.Card__image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	width: 100%;
	height: 100%;

	img {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.Card__content__extra {
	position: absolute;
	z-index: 10;
	font-size: 90%;
	line-height: 1;

	&.-top-left {
		top: calc(var(--padding__small) * 1.5);
		left: calc(var(--padding__small) * 1.5);
		margin-right: 8rem;
	}

	&.-top-right {
		top: calc(var(--padding__small) * 1.5);
		right: calc(var(--padding__small) * 1.5);
		margin-left: 8rem;
	}

	&.-symbol {
		font-size: 2.5rem;
	}

	> :nth-child(2) {
		margin-left: 0.5em;
	}

	.tags {
		.tag {
			display: inline-block;
			margin-right: 0.4em;
			margin-bottom: 0.4em;
			background: oklch(27% 0 0deg / 0.65);
			padding: 0 0.5em;
			color: var(--color__text__contrast);
			line-height: 1.8;
		}
	}

	.webmentions__count {
		margin-right: 0.5em;
	}
}

.Card__post-list {
	margin-top: var(--margin__small);
	margin-bottom: var(--margin__small);
	list-style: decimal-leading-zero;
}

.Card__title {
	margin: 0;
	color: var(--color__text__contrast);
	font-weight: 700;
	font-size: 2.5rem;
	a {
		color: inherit;
	}
}

.Card__title-link:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
}
