.Form {
    margin-top: 2em;
    font-size: var(--font__size);
    color: var(--color__text);

    &.-inactive {
        label {
            display: none !important;
        }
        .-collapsed {
            display: none !important;
        }
        textarea {
            resize: none !important;
            min-height: 0 !important;
            height: 2.7em;
            overflow: hidden;
        }
    }
    &__group {
        position: relative;
        margin: 0 0 1em 0;
        input, textarea {
            border: 2px solid var(--color__background__widget);
            background: var(--color__background);
            padding: 0.5em;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            width: 100%;

            &:focus {
                border-color: var(--color__text);
                + label {
                    color: var(--color__text);
                }
            }
        }

        textarea {
            resize: vertical;
            min-height: 15rem;
        }

        label {
            text-align: center;
            text-transform: uppercase;
            color: var(--color__text-alt);
            position: absolute;
            left: 4px;
            top: -7px;
            display: inline-block;
            background: var(--color__background);
            font-size: var(--font__size-base);
            line-height: 1;
            padding: 0 0.5em;
        }
    }
}
