a {
    color: var(--color__link);
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:visited {
        color: var(--color__link__visited);
    }
}
