select {
	border: 1px solid var(--color__background__widget);
	border-radius: 3px;
	background: var(--color__background);
	padding: 0.4rem 0.4rem;
	color: var(--color__text);
	font-weight: 400;
	font-size: var(--font__size);
	line-height: 2;
	font-family: var(--font__body);
}
