@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Noto Sans'),
    url('/assets/fonts/NotoSans-500.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Noto Sans'),
    url('/assets/fonts/NotoSans-700.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: local('Noto Sans'),
    url('/assets/fonts/NotoSans-900.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Noto Serif'),
    url('/assets/fonts/NotoSerif-500.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Noto Serif'),
    url('/assets/fonts/NotoSerif-500-Italic.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Noto Serif'),
    url('/assets/fonts/NotoSerif-700.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 700;
    font-display: fallback;
    src: local('Noto Serif'),
    url('/assets/fonts/NotoSerif-700-Italic.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}
