:root {
  // Colors
  --color__background: white;
  --color__background__alt: #{$color__97-brightness};
  --color__background__widget: #{$color__95-brightness};
  --color__background__contrast: #{$color__15-brightness};
  --color__background__contrast__widget: #{$color__8-brightness};
  --color__background__contrast__alt: #{$color__2-brightness};
  --color__background__gradient: linear-gradient(180deg,rgba(0,0,0,0) 0,white 100%);
  --color__overlay: rgba(0,0,0,.5);
  --color__link: #{$color__blue};
  --color__link__visited: #{$color__purple};
  --color__text: black;
  --color__text-alt: #{$color__25-brightness};
  --color__text__contrast: white;
  --color__text__contrast__alt: #a9a9a9;


  // Font sizing
  --font__dynamic-scaling: #{$font__dynamic-scaling};
  --font__ratio: #{$font__ratio};
  --font__dynamic-ratio: #{$font__dynamic-ratio};

  --font__size: #{$font__size};
  --font__size-base: #{$font__size__base};
  --font__size__heading-4: calc( (var(--font__size-base) * var(--font__ratio)) + (var(--font__dynamic-scaling) * var(--font__dynamic-ratio)));
  --font__size__heading-3: calc( (var(--font__size-base) * var(--font__ratio) * var(--font__ratio)) + (var(--font__dynamic-scaling) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio)));
  --font__size__heading-2: calc( (var(--font__size-base) * var(--font__ratio) * var(--font__ratio) * var(--font__ratio)) + (var(--font__dynamic-scaling) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio)));
  --font__size__heading-1: calc( (var(--font__size-base) * var(--font__ratio) * var(--font__ratio) * var(--font__ratio) * var(--font__ratio)) + (var(--font__dynamic-scaling) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio) * var(--font__dynamic-ratio)));

  // Font family
  --font__sans-serif: #{$font__sans-serif};
  --font__serif: #{$font__serif};
  --font__mono: #{$font__monospace};

  // Sizing
  --max-width__base: #{$max-width__base};
  --max-width__content: #{$max-width__content};

  --margin__tiny: #{$margin__tiny};
  --margin__small: #{$margin__small};
  --margin__medium: #{$margin__medium};
  --margin__large: #{$margin__large};
  --padding__small: #{$padding__small};
  --padding__medium: #{$padding__medium};
  --padding__large: #{$padding__large};

  --header__height: #{$header__height};
}


