@media print {
	body {
		overflow-x: visible !important;
		overflow-y: visible !important;
	}

	.hidden\@print {
		display: none !important;
	}

	.kg-bookmark-thumbnail {
		display: none !important;
	}

	a,
	p,
	span,
	ul,
	ol,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: black !important;
	}

	img,
	figure {
		break-inside: avoid;
	}

	main.main {
		background: white !important;
	}

	.header {
		background: white !important;
		color: black !important;

		&:after {
			display: none !important;
		}

		.header__top {
			display: none !important;
		}

		.hero {
			height: auto !important;
		}

		.hero-content {
			width: 100% !important;
			max-width: 100% !important;
		}

		.post__read-time,
		.post__tags {
			display: none !important;
		}
	}

	.content {
		padding: 0 !important;
		padding-top: var(--margin--medium);
		width: 100% !important;
		max-width: 100% !important;
	}

	.content > * {
		margin-top: var(--margin--medium);
		margin-bottom: var(--margin--small);
		background: white !important;
		color: black !important;
	}

	.content pre {
		border: 1px solid black;
		background: white !important;
		color: black !important;

		code {
			color: black !important;
		}
	}

	.post-header {
		margin-bottom: 1em !important;
		background: white !important;
		padding: 0 !important;
		min-height: 0 !important;

		&.-feature-image:after {
			display: none;
		}

		.post-metadata {
			padding: 0;
			max-width: none !important;
		}
	}

	.separator-heading {
		font-size: var(--font--size--heading-2);
		text-align: left;
		text-transform: initial;
		span {
			padding: 0;
		}
		&:after {
			display: none;
		}
	}

	.tags {
		display: none;
	}

	.page-source,
	.post-source {
		display: none !important;
	}

	.-collapsed {
		max-height: none !important;
		&:after {
			display: none !important;
		}
	}

	/* Style buttons with outline instead of background (to save ink) */
	a.button {
		position: initial !important;
		border: 1px solid black !important;
		background: none !important;
	}

	/* Hide buttons that don't link anywhere */
	.button:not(a) {
		display: none !important;
	}

	/* Suffix the URL of links after the link text */
	a[href^="http"],
	a[href^="/"] {
		color: oklch(56% 0.218 259deg) !important;
		text-decoration: underline !important;
		&:after {
			vertical-align: super;
			content: " [" attr(href) "]";
			font-size: 85%;
		}
	}
}
