:root {
	accent-color: var(--color--accent);
}

html {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	display: flex;
	flex: 1;
	flex-direction: column;
	background: var(--color--background);
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	color: var(--color--body);
	font-weight: 400;
	font-size: var(--font--size--default);
	line-height: 1.6;
	font-family: var(--font--body);

	main {
		flex: 1;
	}
}

* {
	box-sizing: border-box;
	min-width: 0;
}
