:root {
	accent-color: var(--color__accent);
}

html {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	display: flex;
	flex: 1;
	flex-direction: column;
	background: var(--color__background);
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	color: var(--color__text);
	font-weight: 400;
	font-size: var(--font__size);
	line-height: 1.6;
	font-family: var(--font__body);

	main {
		flex: 1;
	}
}

* {
	box-sizing: border-box;
	min-width: 0;
}

p,
ul,
ol,
blockquote,
button,
canvas,
caption,
col,
colgroup,
dd,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
img,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
