/* Colors
-------------------
All colors used throughout the theme
------------------- */

:root {
	--color--accent: oklch(50% 0.25 270deg);
	--color--accent--secondary: oklch(50% 0.25 310deg);

	--color--white-black: white;
	--color--background: oklch(96% 0 0deg);
	--color--background--alt: oklch(93% 0 0deg);
	--color--background--widget: oklch(90% 0 0deg);
	--color--background--contrast: oklch(15% 0 0deg);
	--color--background--contrast--widget: oklch(8% 0 0deg);
	--color--background--contrast--alt: oklch(2% 0 0deg);
	--color--background--gradient: linear-gradient(180deg, transparent 0, white 100%);
	--color--overlay: oklch(0% 0 0deg / 0.5);
	--color--shadow: 1px 1px 1px oklch(0 0 0 / 0.05), 3px 3px 5px oklch(0 0 0 / 0.04),
		7px 7px 11px oklch(0 0 0 / 0.03), 13px 13px 19px oklch(0 0 0 / 0.02),
		20px 20px 30px oklch(0 0 0 / 0.01);
	--color--shadow--inset: inset 0px 0px 1px rgba(0, 0, 0, 0.05),
		inset 0px 2px 3px rgba(0, 0, 0, 0.1), inset 0px 4px 7px rgba(0, 0, 0, 0.15),
		inset 0px 6px 13px rgba(0, 0, 0, 0.2), inset 0px 10px 20px rgba(0, 0, 0, 0.25);

	--color--body: black;
	--color--body--alt: oklch(25% 0 0deg);
	--color--body--contrast: white;
	--color--body--contrast--alt: oklch(73% 0 0deg);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color--accent: oklch(65% 0.2 270deg);
		--color--accent--secondary: oklch(65% 0.2 310deg);

		--color--white-black: black;
		--color--background: oklch(19% 0 0deg);
		--color--background--alt: oklch(23% 0 0deg);
		--color--background--widget: oklch(32% 0 0deg);
		--color--background--contrast: oklch(19% 0 0deg);
		--color--background--contrast--widget: oklch(27% 0 0deg);
		--color--background--contrast--alt: oklch(32% 0 0deg);
		--color--background--gradient: linear-gradient(
			180deg,
			transparent 0,
			oklch(19% 0 0deg) 100%
		);
		--color--overlay: oklch(0% 0 0deg / 0.5);
		--color--shadow: 1px 1px 1px oklch(0 0 0 / 0.2), 3px 3px 3px oklch(0 0 0 / 0.16),
			7px 7px 7px oklch(0 0 0 / 0.12), 13px 13px 13px oklch(0 0 0 / 0.08),
			20px 20px 20px oklch(0 0 0 / 0.04), 0 0 5rem oklch(96% 0 0deg / 6%);

		--color--body: oklch(95% 0 0deg);
		--color--body--alt: oklch(70% 0 0deg);
		--color--body--contrast: white;
	}
}
