/* Colors
-------------------
All colors used throughout the theme
------------------- */

:root {
	--color--accent: oklch(50% 0.25 270deg);
	--color--accent--secondary: oklch(50% 0.25 310deg);

	--color--background: white;
	--color--background--alt: oklch(97% 0 0deg);
	--color--background--widget: oklch(95% 0 0deg);
	--color--background--contrast: oklch(15% 0 0deg);
	--color--background--contrast--widget: oklch(8% 0 0deg);
	--color--background--contrast--alt: oklch(2% 0 0deg);
	--color--background--gradient: linear-gradient(180deg, transparent 0, white 100%);
	--color--overlay: oklch(0% 0 0deg / 0.5);
	--color--shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 5px 5px 12px rgba(0, 0, 0, 0.2);
	--color--shadow--drop: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2))
		drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.3));

	--color--body: black;
	--color--body--alt: oklch(25% 0 0deg);
	--color--body--contrast: white;
	--color--body--contrast--alt: oklch(73% 0 0deg);
}
