/* Colors
-------------------
All colors used throughout the theme
------------------- */

:root {
	--color--accent: oklch(50% 0.25 270deg);
	--color--accent--secondary: oklch(50% 0.25 310deg);

	--color--white-black: white;
	--color--background: oklch(96% 0 0deg);
	--color--background--alt: oklch(93% 0 0deg);
	--color--background--widget: oklch(90% 0 0deg);
	--color--background--contrast: oklch(15% 0 0deg);
	--color--background--contrast--widget: oklch(8% 0 0deg);
	--color--background--contrast--alt: oklch(2% 0 0deg);
	--color--background--gradient: linear-gradient(180deg, transparent 0, white 100%);
	--color--overlay: oklch(0% 0 0deg / 0.5);
	--color--shadow: 0px 0px 0px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.01),
		1px 1px 2px rgba(0, 0, 0, 0.01), 2px 2px 3px rgba(0, 0, 0, 0.02),
		3px 3px 5px rgba(0, 0, 0, 0.03), 4px 4px 7px rgba(0, 0, 0, 0.03),
		5px 5px 10px rgba(0, 0, 0, 0.04), 6px 6px 13px rgba(0, 0, 0, 0.04),
		8px 8px 16px rgba(0, 0, 0, 0.04), 10px 10px 20px rgba(0, 0, 0, 0.05);

	--color--body: black;
	--color--body--alt: oklch(25% 0 0deg);
	--color--body--contrast: white;
	--color--body--contrast--alt: oklch(73% 0 0deg);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color--accent: oklch(65% 0.2 270deg);
		--color--accent--secondary: oklch(65% 0.2 310deg);

		--color--white-black: black;
		--color--background: oklch(19% 0 0deg);
		--color--background--alt: oklch(23% 0 0deg);
		--color--background--widget: oklch(32% 0 0deg);
		--color--background--contrast: oklch(19% 0 0deg);
		--color--background--contrast--widget: oklch(27% 0 0deg);
		--color--background--contrast--alt: oklch(32% 0 0deg);
		--color--background--gradient: linear-gradient(
			180deg,
			transparent 0,
			oklch(19% 0 0deg) 100%
		);
		--color--overlay: oklch(0% 0 0deg / 0.5);
		--color--shadow: 0px 0px 1px oklch(0 0 0 / 0.31), 2px 2px 5px oklch(0 0 0 / 0.25),
			4px 4px 12px oklch(0 0 0 / 0.19), 6px 6px 22px oklch(0 0 0 / 0.12),
			10px 10px 34px oklch(0 0 0 / 0.06), 0 0 5rem oklch(96% 0 0deg / 10%);

		--color--body: oklch(95% 0 0deg);
		--color--body--alt: oklch(70% 0 0deg);
		--color--body--contrast: white;
	}
}
