/* Fonts
---------------
Fonts
--------------- */

:root {
	/* Font family */
	--font--sans-serif: "Noto Sans", system-ui, sans-serif;
	--font--serif: "Noto Serif", Charter, Georgia, serif;
	--font--mono: ui-monospace, monospace;

	--font--body: var(--font--sans-serif);
	--font--headings: var(--font--sans-serif);
	--font--meta: var(--font--sans-serif);
	--font--captions: var(--font--serif);
	--font--quotes: var(--font--serif);
	--font--code: var(--font--mono);

	/* Font sizing */
	--font--size--default: 1rem;
	--font--size--small: 0.875rem;
}

:root {
	/* Font scaling */
	--font--dynamic-scaling: 0.3vw;
	--font--ratio: 1.25;
	--font--dynamic-ratio: 1.3;
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--font--size--heading-4: clamp(1.2rem, 0.3vi + 1.1rem, 1.75rem);
		--font--size--heading-3: clamp(1.4rem, 0.8vi + 1.2rem, 2rem);
		--font--size--heading-2: clamp(1.7rem, 1.6vi + 1.3rem, 2.3rem);
		--font--size--heading-1: clamp(2.1rem, 3vi + 1.3rem, 3rem);
	}
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--font--size--heading-4: 1.2rem;
		--font--size--heading-3: 1.4rem;
		--font--size--heading-2: 1.7rem;
		--font--size--heading-1: 2.1rem;
	}
}
