/* Sizes
---------------
Sizes, margins and paddings
--------------- */
:root {
	--max-width__content: 70ch;
	--max-width__base: calc(var(--max-width__content) + 40ch);

	--margin--tiny: 0.375rem;
	--margin--small: 0.75rem;
	--margin--medium: 1.5rem;
	--margin--large: 3rem;
	--padding--tiny: 0.375rem;
	--padding--small: 0.75rem;
	--padding--medium: 1.5rem;
	--padding--large: 3rem;

	--border-radius--image: 0.5rem;
	--border-radius--card: 1rem;
	--border-radius--tag: 0.3rem;

	--header--height: 3.75rem;
}
