---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/stylesheets/feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.description }}</subtitle>
    <link href="{{ metadata.url }}{{ metadata.feed.path }}" rel="self"/>
    <link href="{{ metadata.url }}/blogg/"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url | addPathPrefixToFullUrl }}/</id>
    <author>
        <name>{{ metadata.author.name }} {{ metadata.author.surname }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in collections.posts | reverse -%}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url ) }}{% endset %}
	{%- set postId %}{{ post.data.id | htmlBaseUrl(metadata.url) if post.data.id else absolutePostUrl }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ postId }}</id>
        <content type="html">
            {{ post.templateContent | renderTransforms(post.data.page, metadata.url) }}
        </content>
    </entry>
    {%- endfor %}
</feed>
