---
title: "Prenumerera via flöden"
description: "Prenumerera på bloggen via flöden (Atom)."
feedsToShow:
    - friluftsliv
    - fotografering
    - mtb
    - löpning
    - kartor
    - resor
permalink: "/feeds.xml"
eleventyComputed:
    published: "{{ date | isoString }}"
    modified: "{% if updateDate %}{{ updateDate | dateToRfc3339 }}{% endif %}"
---
<?xml version="1.0" encoding="utf-8"?>
<opml version="2.0">
    <head>
        <title>{{ title }}</title>
        <dateCreated>{{ page.date | dateToRfc3339}}</dateCreated>
        <description>{{ description }}</description>
        <urlPublic>{{ metadata.url }}{{ permalink }}</urlPublic>
        <ownerName>{{ metadata.author.name }} {{ metadata.author.surname }}</ownerName>
        <ownerEmail>{{ metadata.author.email }}</ownerEmail>
        <ownerId>{{ metadata.url }}/kontakta-mig/</ownerId>
        <dateModified>{{ modified }}</dateModified>
    </head>
    <body>
    <outline type="rss" text="Gustav Lindqvist" xmlUrl="{{ metadata.url }}/feed.xml" htmlUrl="{{ metadata.url }}/blogg/"/>
    <outline text="Gustavs flöden för specifika ämnen">
    {%- for feed in feedsToShow -%}
        {% set tagData = tagMetadata[feed] %}
        {% set title = tagData.title %}
        {% set feedTitle = tagData.feedTitle %}
        <outline type="rss" text="{% if feedTitle %}{{ feedTitle | utf8_xml }}{% else %}Gustav skriver om {{ title | utf8_xml}}{% endif %}" xmlUrl="{{ metadata.url }}/{{ feed | slug }}/feed.xml" htmlUrl="{{ metadata.url }}/{{ feed | slug }}/"/>
    {%- endfor %}
    </outline>
    <outline text="Gustavs andra flöden">
        <outline type="rss" text="Gustav tipsar" xmlUrl="{{ metadata.url }}/gustav-tipsar.xml" htmlUrl="{{ metadata.url }}/gustav-tipsar/"/>
        <outline type="rss" text="Gustavs redigeringar på OpenStreetMap" xmlUrl="https://www.openstreetmap.org/user/Reedyn/history/feed" htmlUrl="https://www.openstreetmap.org/user/Reedyn/history/"/>
        <outline type="rss" text="Gustavs lästa böcker på GoodReads" xmlUrl="https://www.goodreads.com/review/list_rss/14070425?shelf=read" htmlUrl="https://www.goodreads.com/review/list/14070425-gustav-lindqvist?shelf=read"/>
        <outline type="rss" text="Gustavs hembryggeri på Untappd" xmlUrl="https://untappd.com/rss/brewery/505146" htmlUrl="https://untappd.com/GustavsHembryggeri"/>
    </outline>
    </body>
</opml>