---
"permalink": "linkblog.xml"
"eleventyExcludeFromCollections": true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/stylesheets/feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Gustavs länkblogg</title>
    <subtitle>Artiklar, böcker, filmer och annat som jag tycker är extra bra, intressant eller kul; i ordningen som jag läste/upptäckte dem (senast överst).</subtitle>
    <link href="{{ metadata.url }}/linkblog.xml" rel="self"/>
    <link href="{{ metadata.url }}/linkblog/"/>
    <updated>{{ inoreader.linkblog[0].date }}</updated>
    <id>{{ metadata.url }}/linkblog.xml</id>
    {%- for post in inoreader.linkblog -%}
    <entry>
        <title>{{ post.title }}</title>
        <link href="{{ post.url }}"/>
        <updated>{{ post.date }}</updated>
        <author>
            <name>{{ post.source.name }}</name>
        </author>
        <source>
            <title>{{ post.source.name }}</title>
            <id>{{ post.source.url }}</id>
        </source>
        <id>{{ post.url }}</id>
        <content type="html">{{ post.content | utf8_xml}}</content>
    </entry>
    {%- endfor %}
</feed>
