.kg-card.kg-width-wide {
    width: 100%;

    --card__extra-width: 0;

    @include respond-to(medium) {
        margin-top: var(--margin__large);
        margin-bottom: var(--margin__large);

        > * {
            max-width: none;
            width: calc(var(--max-width__content) + var(--card__extra-width));
            margin-left: calc(50% - ((var(--max-width__content) + var(--card__extra-width)) / 2));
        }
    }

    @include respond-to(large) {
        --card__extra-width: 12rem;
    }

    @include respond-to(huge) {
        --card__extra-width: 35rem;
    }


}
