.site-footer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    padding: var(--padding__medium) 0;
    border-top: 1px solid var(--color__background__widget);
    .column {
        margin: var(--margin__medium) 0;
    }
}

.site-footer__content {
    width: 100%;
    max-width: var(--max-width__base);
    padding: 0 var(--padding__medium);
    font-size: 90%;

    grid-template-columns: 1fr;
    grid-gap: var(--margin__medium);

    @include respond-to(small) {
        grid-template-columns: 1fr 2fr 1fr;
    }

    label {
        color: var(--color__text);
    }
}

.site-footer__navigation {
    color: var(--color__text);

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
    }

    a {
        color: var(--color__text);
        &:visited {
            color: var(--color__text);
        }
    }
}

.site-footer__heading {
    margin-top: 0;
    font-size: var(--font__size__heading-4);
}
