.Cards {
}

.Card__list {
	--gutter: var(--margin--medium);

	display: grid;
	grid-auto-flow: dense;
	margin-top: var(--margin--medium);
	margin-bottom: var(--margin--medium);
	grid-gap: var(--gutter);
	grid-template-columns: 1fr;

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--medium) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/*noinspection CssInvalidMediaFeature*/

	&.-max-2-columns {
		@media (--viewport--medium) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.Card {
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: var(--border-radius--card);
	background: var(--color--background--contrast--widget);
	background-position: center;
	background-size: cover;
	padding: calc(var(--padding--small) * 1.5);
	aspect-ratio: 3/2;
	color: var(--color--body--contrast);

	&.-align-bottom {
		justify-content: flex-end;
		padding-top: 6rem;
	}

	&.-align-top {
		justify-content: flex-start;
	}

	.tags .tag:not(:first-of-type) {
		display: none;
	}

	.Card__title {
		font-size: var(--font--size--heading-3);
	}

	&.-feature-image {

		figure {
			border-radius: var(--border-radius--card);
			overflow: clip;
		}
		img {
			border-radius: var(--border-radius--card);
			@media (prefers-reduced-motion: no-preference) {
				transition: all 500ms ease;
			}
		}

		&:before {
			position: absolute;
			z-index: 2;
			inset: 0;
			border-radius: var(--border-radius--card);
			background: linear-gradient(0deg, #000 0, rgba(0, 0, 0, 0.7) 3em, transparent 8em);
			isolation: isolate;
			content: "";
		}

		picture {
			height: 100%;
		}

		&.-feature-image--bottom {
			img {
				object-position: bottom;
			}
		}

		&.-feature-image--top {
			img {
				object-position: top;
			}
		}

		&.-feature-image--left {
			img {
				object-position: left;
			}
		}

		&.-feature-image--right {
			img {
				object-position: right;
			}
		}
	}

	&:hover,
	&:focus-visible {
		&.-feature-image img {
			@media (prefers-reduced-motion: no-preference) {
				transform: scale(105%);
			}
		}
	}
	&:after {
		position: absolute;
		z-index: 0;
		inset: 0;
		box-shadow: var(--color--shadow);
		border-radius: var(--border-radius--card);
		isolation: isolate;
		content: "";
	}
}

.Card__content {
	z-index: 10;
	font-size: var(--font--size--small);
	text-shadow:
		0 1px 1px rgba(0, 0, 0, 0.1),
		0 2px 2px rgba(0, 0, 0, 0.2),
		0 4px 4px rgba(0, 0, 0, 0.15),
		0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.05);

	> * {
		margin: 0;
	}

	ul,
	ol {
		padding-inline-start: 2.5rem;
	}

	a {
		color: var(--color--body--contrast);
	}

	ol.metadata-list {
		margin-block-start: 1em;
		padding-inline-start: 0;
		list-style: none;
	}

	.metadata-list__item {
		margin-bottom: var(--margin--small);

		overflow: clip;
		list-style: none;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			display: none;
			content: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.metadata-title {
			margin: 0;
			font-size: var(--font--size--heading-4);
		}

		p {
			margin: 0;
		}

		.metadata-content {
			overflow: clip;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.metadata-list__item-title {
			display: block;
			color: var(--color--body--contrast);
		}

		.metadata-values {
			color: var(--color--body--contrast--alt);
		}
	}
}

.Card__image {
	position: absolute !important; /* TODO: Find better solution */
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	width: 100%;
	height: 100%;

	img {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.Card__content__extra {
	position: absolute;
	z-index: 10;
	font-size: 90%;
	line-height: 1;

	&.-top-left {
		top: calc(var(--padding--small) * 1.5);
		left: calc(var(--padding--small) * 1.5);
	}

	&.-top-right {
		top: calc(var(--padding--small) * 1.5);
		right: calc(var(--padding--small) * 1.5);
	}

	&.-symbol {
		font-size: 2.5rem;
	}

	> :nth-child(2) {
		margin-left: 0.5em;
	}

	.tags {
		.tag {
			display: inline-block;
			margin-right: 0.4em;
			margin-bottom: 0.4em;
			background: oklch(from var(--color--background) l c h / 80%);
			padding: 0.1em 0.5em;
			color: var(--color--body);
			line-height: 1.8;
		}
	}

	.webmentions__count {
		margin-right: 0.5em;
	}
}

.Card__post-list {
	margin-top: var(--margin--small);
	margin-bottom: var(--margin--small);
	list-style: decimal-leading-zero;
}

.Card__title {
	margin: 0;
	width: fit-content;
	color: var(--color--body--contrast);
	font-weight: 900;
	font-size: 2.5rem;

	a {
		color: inherit;
	}
}

.Card__title-link:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
}
