.Comments {
	img.Comments__image {
		margin: initial;
		max-height: 15em;
	}
}

.Comments__list {
	margin-top: var(--margin--medium);
	padding-inline-start: 0;
	list-style: none;
}

.Comments__title {
}

.Comments_reference {
	font-size: calc(var(--font--size--default) * 0.85);
}

.Comments__panel {
	font-weight: 400;

	.Comments__likes,
	.Comments__reposts,
	.Comments__comments {
		margin-right: 0.5em;
	}

	.Comments__status {
		display: inline-block;
		background-color: var(--color--background--alt);
		padding: var(--padding--medium);
	}

	svg {
		vertical-align: sub;
		height: 1.2em;
	}
}

.Comments__metadata {
	color: var(--color--body--alt);
	font-size: var(--font--size--small);
	line-height: 1.4;
	font-family: var(--font--meta);

	span.Comments__author {
		color: var(--color--body);
	}
}

.Comments__author {
	.Comments__avatar {
		position: absolute;
		top: 0.7rem;
		left: 0.625rem;
		vertical-align: bottom;
		margin-right: 0.5em;
		border-radius: 50%;
		width: 3rem;
	}
}

.Comments__list-item {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-bottom: var(--margin--medium);

	padding: 0.625rem 0.625rem 0.625rem 4.5rem;
	&:before {
		content: none !important;
	}

	&.-is-me {
		background: var(--color--background--alt);
	}

	&.-no-content {
		padding-left: 4rem;

		.Comments__author {
			.Comments__avatar {
				top: 0.8rem;
				left: 0.5rem;
				width: 2.5rem;
			}
		}
	}

	&:hover {
		background: var(--color--background--widget);
	}

	&:last-child {
		margin-bottom: 0;
	}

	p {
		margin: 0.3em 0 0 0;
	}
}
