{%- set repliesForPost = mastodon_id | getRepliesForPost -%}
{% if repliesForPost.length %}
<section class="Comments hidden@print" aria-labelledby="kommentarer">
	<h2 class="Comments__title separator-heading" id="kommentarer"><span>Kommentarer</span>
	</h2>
	<ol class="Comments__list">
		{% for reply in repliesForPost %}
			{% if reply.author.name.length %}{%- set sluggedName = reply.author.name | slug -%}{% else %}{%- set sluggedName = reply.host | slug -%}{% endif %}
			<li class="Comments__list-item{% if reply.author['is_me'] %} -is-me{% endif %}{% if not reply.content %} -no-content{% endif %}"
				data-source="{{ reply.source }}">
	<span class="Comments__metadata">
	{% if reply.author.url %}
	<a class="Comments__author" href="{{ reply.author.url }}" target="_blank"
	   rel="external noopener noreferrer">
		<img
			class="Comments__avatar"
			src="{{ reply.author.image or '' }}"
			alt="Bild på {{ reply.author.name }}"
			loading="lazy"
			decoding="async"
			width="48"
			height="48"
		>
		{{ reply.author.name | safe }}</a>{% else %}
	<span class="Comments__author">
		{% if reply.author.image %}<img
			class="Comments__avatar"
			src="{{ reply.author.image }}"
			alt="Bild på {{ reply.author.name }}"
			loading="lazy"
			decoding="async"
			width="48"
			height="48"
			>{% endif %}
		{{ reply.author.name | safe }}</span>{% endif %}{% if reply.type === 'mention-of' %} nämnde detta inlägg{% else %} kommenterade{% endif %} {% if reply.url %}
			<a href="{{ reply.url }}" target="_blank" rel="external noopener noreferrer">
			<time class="timeago" prefix
				  datetime="{{ reply.published | dateFromString | fullISODate }}"
				  title="{{ reply.published | dateFromString | longISODate }}">{{ reply.published | dateFromString | readableLongDate }}</time>
			</a>{% else %}<span>
			<time class="timeago" prefix
				  datetime="{{ reply.published | dateFromString | fullISODate }}"
				  title="{{ reply.published | dateFromString | longISODate }}">{{ reply.published | dateFromString | readableLongDate }}</time>
			</span>{% endif %}
	</span>
				{{ reply.content | safe }}{% if reply.image %}<p><a
						href="{{ reply.url }}"><img class="Comments__image"
													src="{{ reply.image.preview_url }}"
													alt="{{ reply.image.description }}"></a>
					</p>{% endif %}
			</li>
		{% endfor %}
	</ol>
</section>
{% endif %}