{% if templateClass == 'tag-template' %}
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist - {{ tagMetadata[ tag ].title | firstLetterUpper }}" href="{{ metadata.url }}{{ page.url }}feed.xml">
{% else %}
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist" href="/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Friluftsliv" href="/friluftsliv/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Fotografering" href="/fotografering/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Cykling" href="/cykling/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Löpning" href="/lopning/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Kartor" href="/kartor/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Resor" href="/kartor/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Ölbryggning" href="/olbryggning/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Gustav Lindqvist – Länktips" href="/lanktips.xml">
{% endif %}