<div class="site-footer__content">
    <h2 id="lankar-i-sidfot" class="site-footer__heading sr-only">Länkar</h2>
    <nav class="site-footer__navigation" aria-labelledby="lankar-i-sidfot">
        <ul class="list -inline">
            <li><a href="/blogg/">Blogg</a></li>
            <li><a href="/om-mig/">Om mig</a></li>
            <li><a href="/just-nu/">Just nu</a></li>
            <li><a href="/kontakta-mig/">Kontakta mig</a></li>
        </ul>
        <ul class="list -inline">
            <li><a href="/blogroll/">Blogroll</a></li>
            <li><a href="/linkblog/">Länkblogg</a></li>
            <li><a href="/hembryggeri/">Hembryggeriet</a></li>
            <li><a href="/friluftsliv/packlistor/">Packlistor</a></li>
        </ul>
        <ul class="list -inline">
            <li><a href="/licensiering/">Licensiering</a></li>
            <li><a href="/floden/">Följ mina flöden</a></li>
            <li><a href="https://git.sr.ht/~reedyn/gustavlindqvist.se">Källkoden för webbplatsen</a></li>
        </ul>
    </nav>
</div>
