<div class="site-footer__content">
    <div>
        <h2 id="lankar-i-sidfot" class="site-footer__heading">Länkar</h2>
        <nav class="site-footer__navigation" aria-labelledby="lankar-i-sidfot">
            <ul class="list">
                <li><a href="/blogg/">Blogg</a></li>
                <li><a href="/om-mig/">Om mig</a></li>
                <li><a href="/kontakta-mig/">Kontakta mig</a></li>
                <li><a href="/hembryggeri/">Hembryggeriet</a></li>
                <li><a href="/licensiering/">Licensiering</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h2 id="andra-konton" class="site-footer__heading">Annat innehåll</h2>
        <nav class="site-footer__navigation" aria-labelledby="andra-konton">
            <ul class="list">
                <li><a href="/blogroll/">Blogroll</a></li>
                <li><a href="/lanktips/">Länktips</a></li>
            </ul>
        </nav>
    </div>
    <div class="button-row -flex-grow -align-right">
        <a class="button__icon" href="/feeds/">
            <svg class="icon" role="presentation" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/rss.svg#rss"></use></svg>
            <span class="sr-only">RSS-flöden</span>
        </a>
        <a class="button__icon" href="https://git.gustavlindqvist.se/gustav/gustavlindqvist.se">
            <svg class="icon" role="presentation" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="/assets/icons/source-branch.svg#icon"></use></svg>
            <span class="sr-only">Gå till källkoden för webbplatsen</span>
        </a>
    </div>
</div>
