
    <link href="https://twitter.com/lindqvistus" rel="me">
    <link href="https://twitter.com/reedyn" rel="me">
    <link href="https://facebook.com/reedyn" rel="me">
    <link href="https://github.com/Reedyn" rel="me">
    <link href="https://jkpg.rocks/@gustav" rel="me">
    <link href="https://mastodon.beer/@gustav" rel="me">
    <link href="https://mstdn.games/@reedyn" rel="me">
    <link href="https://reedyn.com/@reedyn" rel="me">
    <link href="https://github.com/Reedyn" rel="me">
    <link href="mailto:hej@gustavlindqvist.se" rel="me">