<nav id="site-navigation" class="site-header__navigation" aria-label="Toppmeny">
    <ul>
        <li><a{% if page.url == '/just-nu/' %} class="active"{% endif %} href="/just-nu/">Just nu</a></li>
        <li><a{% if page.url == '/blogg/' %} class="active"{% endif %} href="/blogg/">Blogg</a></li>
    </ul>
</nav>
