<nav class="site-header__navigation" aria-label="Toppmeny">
    <ul>
        <li><a{% if page.url == '/just-nu/' %} class="active"{% endif %} href="/just-nu/">Just nu</a></li>
        <li><a{% if page.url == '/om-mig/' %} class="active"{% endif %} href="/om-mig/">Om mig</a></li>
        <li><a{% if page.url == '/blogg/' %} class="active"{% endif %} href="/blogg/">Blogg</a></li>
    </ul>
    <div>
        <span id="theme-toggle" class="theme-toggle hidden@no-js">
            <label>
                <input type="checkbox" id="theme-toggle__checkbox">
                <span class="theme-toggle__slider"></span>
            </label>
        </span>
    </div>
</nav>
