{% if series and nextPost %}
{% if nextPost and nextPost.data.feature_image %}
    {%- set nextPostOptimizedFeatureImage = nextPost.data.feature_image | featureImageFilter("100vw", "next-post__image", nextPost.data.page) %}
{% endif %}
<article id="read-more" aria-labelledby="next-post__title" class="next-post{% if nextPost.data.feature_image %} -feature-image{% endif %}{% if nextPost.data.feature_image_position %} -feature-image--{{ nextPost.data.feature_image_position }}{% endif %} hidden@print" {% if nextPost.data.style %}style="{% if nextPost.data.style.hue %}--color__hue: {{ nextPost.data.style.hue }};{% endif %}{% if nextPost.data.style.hueSecondary %}--color__hue-secondary: {{ nextPost.data.style.hueSecondary }};{% endif %}{% if nextPost.data.style.chroma %}--color__chroma: {{ nextPost.data.style.chroma }};{% endif %}"{% endif %}>
    <div class="next-post__metadata">
        {% set seriesTitle = tagMetadata[series].title or series %}
        <p id="read-more__text" class="read-more-text">~ Läs nästa inlägg i {{ seriesTitle }} ~</p>
         <h2 id="next-post__title" class="next-post__title" style="view-transition-name: post-title-{{ nextPost.url | hashString}}">
			 <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h2>
        {% if nextPost.data.page.date %}<p class="next-post__date"><time datetime="{{ nextPost.data.page.date | fullISODate }}" title="{{ nextPost.data.page.date | longISODate }}">{{ nextPost.data.page.date | readableLongDate }}</time></p>{% endif %}
    </div>
    {{ nextPostOptimizedFeatureImage | safe }}
</article>{% endif %}