{% if style %}style="{% if style.huePrimary %}--color__hue: {{ style.huePrimary }};{% endif %}{% if style.hueSecondary %}--color__hue-secondary: {{ style.hueSecondary }};{% endif %}{% if style.chroma %}--color__chroma: {{ style.chroma }};{% endif %}"{% endif %}