{% if inoreader.latestPostsForSeries[series] and inoreader.latestPostsForSeries[series].length %}
<aside class="Syndicated-content hidden@print" aria-labelledby="andra-bloggar">
    <h2 class="Syndicated-content__title separator-heading" id="andra-bloggar"><span>Annat att läsa om {{ series }}</span></h2>
    <ul class="post-list">
        {% for feedItem in inoreader.latestPostsForSeries[series] %}
            {% if loop.index0 < 5 %}
            <li class="post-list__item -magazine">
                <div class="post-list__item-image">
                    <img src="https://opengraph.gustavlindqvist.se/{{ feedItem.link | encodeURIComponent }}/small/ " alt="Tumnagelbild för {{ feedItem.title }}">
                </div>
                <div class="post-list__item-content">
                    <a class="post-title post-link" href="{{ feedItem.link }}" target="_blank" rel="noopener" title="Öppnas i ny flik.">{{ feedItem.title }}</a>
                    <p class="post-date">
                        <time class="timeago" data-firstletterupper datetime="{{ feedItem.publicationDate | shortISODate }}T00:00:00.000+01:00" title="{{ feedItem.publicationDate | longISODate }}">{{ feedItem.publicationDate  | readableDate }}</time> via
                        <a href="{{ feedItem.blogLink }}">{{ feedItem.blogName }}</a>
                    </p>
                </div>

            </li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endif %}