<div id="theme-chooser-container" class="theme-chooser-container hidden hidden@no-js">
    <button class="theme-chooser -auto" id="theme-choose__auto" value="auto">
        <span class="theme-chooser__title">Auto</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -light" id="theme-choose__light" value="light">
        <span class="theme-chooser__title">Ljust</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -dark" id="theme-choose__dark" value="dark">
        <span class="theme-chooser__title">Mörkt</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -spring" id="theme-choose__spring" value="spring">
        <span class="theme-chooser__title">Vårkänslor</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -fall" id="theme-choose__fall" value="fall">
        <span class="theme-chooser__title">Höstfärger</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
</div>
