<div id="theme-chooser-container" class="theme-chooser-container hidden">
    <label for="theme-chooser" class="sr-only">Välj tema</label>
    <select name="theme-chooser" id="theme-chooser" class="theme-chooser">
        <option value="auto">Auto</option>
        <option value="light">Ljust</option>
        <option value="dark">Mörkt</option>
    </select>
</div>
