<div id="theme-chooser-container" class="theme-chooser-container hidden hidden@no-js">
    <button class="theme-chooser -auto" id="theme-choose__auto" value="auto">
        <span class="theme-chooser__title">Auto</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -light" id="theme-choose__light" value="light">
        <span class="theme-chooser__title">Ljust</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -dark" id="theme-choose__dark" value="dark">
        <span class="theme-chooser__title">Mörkt</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -charizard" id="theme-choose__charizard" value="charizard">
        <span class="theme-chooser__title">Charizard</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -gastly" id="theme-choose__gastly" value="gastly">
        <span class="theme-chooser__title">Gastly</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -mewtwo" id="theme-choose__mewtwo" value="mewtwo">
        <span class="theme-chooser__title">Mewtwo</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
    <button class="theme-chooser -umbreon" id="theme-choose__umbreon" value="umbreon">
        <span class="theme-chooser__title">Umbreon</span>
        <span class="theme-chooser__dot -text"></span>
        <span class="theme-chooser__dot -text-alt"></span>
        <span class="theme-chooser__dot -link"></span>
        <span class="theme-chooser__dot -link-visited"></span>
    </button>
</div>
