figure {
	--_margin__top-bottom: var(--margin--top-bottom, var(--margin--tiny));
	margin-top: var(--_margin__top-bottom);
	margin-bottom: var(--_margin__top-bottom);

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--large) {
		--margin--top-bottom: var(--margin--small);
	}

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--huge) {
		--margin--top-bottom: var(--margin--medium);
	}

	> br {
		display: none;
	}

	&:not(.-no-shadow) {
		position: relative;

		picture {
			position: relative;
			img {
				z-index: 2;
				isolation: isolate;
			}

			&:after {
				position: absolute;
				z-index: 1;
				inset: 0;
				box-shadow: var(--color--shadow);
				border-radius: var(--border-radius--image);
				isolation: isolate;
				content: "";
			}
		}

		&.embed {
			iframe {
				z-index: 2;
				isolation: isolate;
			}

			&:after {
				position: absolute;
				z-index: 1;
				inset: 0;
				box-shadow: var(--color--shadow);
				border-radius: var(--border-radius--image);
				isolation: isolate;
				content: "";
			}
		}
	}

	img {
		margin: 0;
	}

	figcaption {
		margin: 0;
		font-family: var(--font--captions);
		text-align: center;

		p {
			margin: var(--margin--small) 0 0 0;
		}
	}

	&.-round {
		> picture img,
		> img,
		iframe,
		> div {
			border-radius: 50%;
			overflow: clip;
		}
	}

	&.-full {
		> picture img,
		> img,
		iframe,
		> div {
			position: relative;
			margin-right: calc(50% - 50vw);
			margin-left: calc(50% - 50vw); /* 50vw equals half the width */
			border-radius: 0;
			width: 100vw; /* Or whatever max width is */
			max-width: none;
		}

		figcaption {
			margin-inline: var(--margin--medium);
		}
	}

	&.-pixels {
		image-rendering: crisp-edges;
	}

	&.-wide {
		img {
			width: 100%;
		}

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--large) {
			> picture img,
			> img,
			iframe,
			> div,
			> figure.gallery-row {
				width: 100%;
				max-width: none;
			}
		}

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--huge) {
			--card__extra-width: 35rem;
		}
	}

	&:not(.-not-rounded) img,
	&:not(.-not-rounded) iframe {
		border-radius: var(--border-radius--image);
	}

	&.embed {
		width: 100%;

		iframe {
			display: block;
			aspect-ratio: 16/9;
			min-width: 100%;
			max-width: 100%;
			height: auto;
			border: 0;

			/*noinspection CssInvalidMediaFeature*/
			@media (--viewport--large) {
				max-width: none;
			}
		}
	}

	&.map {
		iframe {
			min-width: 100%;
			height: 50vh;
		}
	}

	.instagram-media {
		margin: 0 auto !important;
	}
}
