figure {
	--_margin__top-bottom: var(--margin--top-bottom, var(--margin--tiny));
	margin-top: var(--_margin__top-bottom);
	margin-bottom: var(--_margin__top-bottom);

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--large) {
		--margin--top-bottom: var(--margin--small);
	}

	/*noinspection CssInvalidMediaFeature*/
	@media (--viewport--huge) {
		--margin--top-bottom: var(--margin--medium);
	}

	> br {
		display: none;
	}

	img {
		margin: 0;
	}

	figcaption {
		margin: 0;
		font-style: italic;
		font-family: var(--font--captions);
		text-align: center;

		p {
			margin: var(--margin--small) 0 0 0;
		}
	}

	&.-full {
		> picture img,
		> img,
		iframe,
		> div {
			position: relative;
			margin-right: calc(50% - 50vw);
			margin-left: calc(50% - 50vw); /* 50vw equals half the width */
			width: 100vw; /* Or whatever max width is */
			max-width: none;
		}
	}

	&.-pixels {
		image-rendering: crisp-edges;
	}

	&.-wide {
		img {
			width: 100%;
		}

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--large) {
			> picture img,
			> img,
			iframe,
			> div,
			> figure.gallery-row {
				width: 100%;
				max-width: none;
			}
		}

		/*noinspection CssInvalidMediaFeature*/
		@media (--viewport--huge) {
			--card__extra-width: 35rem;
		}
	}

	&.embed {
		width: 100%;
		iframe {
			aspect-ratio: 16/9;
			min-width: 100%;
			max-width: 100%;
			height: auto;

			/*noinspection CssInvalidMediaFeature*/
			@media (--viewport--large) {
				max-width: none;
			}
		}
	}

	&.map {
		iframe {
			min-width: 100%;
			height: 50vh;
		}
	}

	.instagram-media {
		margin: 0 auto !important;
	}
}
