h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.3;
	font-family: var(--font--headings);
	text-wrap: balance;

	a {
		border: 0;
		text-decoration: none;

		&:hover,
		&:focus-visible {
			background: inherit;
			color: inherit;
			text-decoration: underline;

			&:visited {
				background: inherit;
				color: inherit;
			}
		}
	}
}

h1 {
	font-size: var(--font--size--heading-1);
	letter-spacing: -0.05em;
}

h2 {
	font-size: var(--font--size--heading-2);
}

h3 {
	font-size: var(--font--size--heading-3);
}

h4 {
	font-size: var(--font--size--heading-4);
}
