.Hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;

	.Hero__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: var(--padding--medium) 0;
		width: fit-content;
		max-width: 40ch;
		height: 100%;

		.Hero__heading {
			margin-top: 0;
			font-weight: 500;
			text-wrap: balance;
			strong {
				font-weight: 900;
			}
		}

		.Hero__text {
			display: none;
			text-wrap: balance;

			/*noinspection CssInvalidMediaFeature*/
			@media (--viewport--smedium) {
				display: block;
			}
		}
	}

	.Hero__image {
		--margin--top-bottom: 0;

		width: clamp(15rem, 50vw, 30rem);
	}
}

.sections section:has(.Hero) {
	padding-top: 0;
	padding-bottom: 0;
}
