a {
	color: var(--color--accent);
	text-decoration: underline;

	&:visited {
		color: var(--color--accent--secondary);
	}

	&:hover,
	&:focus-visible {
		background: var(--color--accent);
		color: var(--color--background);
		text-decoration: none;

		&:visited {
			background: var(--color--accent--secondary);
			color: var(--color--background);
		}
	}
}
