ul {
	padding-inline-start: 1.5em;
	list-style: disc;
	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-inline-start: 1em;
	}
}

ol {
	padding-inline-start: 1.5em;
	list-style: decimal;
	ol {
		margin-top: 0;
		margin-bottom: 0;
		padding-inline-start: 1em;
	}

	li {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

ul,
ol {
	&.contains-task-list {
		list-style: none;
	}

	&.-no-style {
		padding-inline-start: 0;
		list-style: none;
	}

	&.-inline {
		padding-inline-start: 0;
		li,
		a {
			display: inline;
			width: auto;
			a {
				display: inline;
			}

			&:not(:last-child):after {
				display: inline-block;
				margin: 0 0.4em;
				content: "·";
			}
		}
	}

	&.-icons {
		display: flex;
		flex-direction: column;
		margin-inline-start: 1.75em;
		padding-inline-start: 0;
		grid-gap: 0.4em;
		list-style: none;

		> li {
			position: relative;
			> :first-child {
				position: absolute;
				top: initial;
				bottom: initial;
				left: -1.75em;
				max-width: 1.5em;
				max-height: 1.5em;

				&:is(.icon) {
					width: 1.25em;
				}
			}

			:nth-child(2) {
				flex: 1;
			}

			ul {
				margin-inline-start: 2em;
				margin-block-start: var(--margin--small);
				list-style: none;
			}
		}
	}
}

.task-list-item-checkbox {
	vertical-align: baseline;
	margin-left: -1.6em; /* Move the checkbox to the left to match other lists indentation. */
}
