ul {
	padding-inline-start: 1.5em;
	list-style: disc;
	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-inline-start: 1em;
	}
}

ol {
	padding-inline-start: 1.5em;
	list-style: decimal;
	ol {
		margin-top: 0;
		margin-bottom: 0;
		padding-inline-start: 1em;
	}

	li {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.contains-task-list {
	list-style: none;
}

.-no-style {
	padding-inline-start: 0;
	list-style: none;
}

.-inline {
	padding-inline-start: 0;
	li,
	a {
		display: inline;
		width: auto;
		a {
			display: inline;
		}

		&:not(:last-child):after {
			display: inline-block;
			margin: 0 0.4em;
			content: "·";
		}
	}
}

.-icons {
	display: flex;
	flex-direction: column;
	padding-inline-start: 0;
	grid-gap: 0.4em;

	> li {
		display: flex;

		> :first-child {
			width: 1.5em;
		}

		:nth-child(2) {
			flex: 1;
		}
	}
}

.task-list-item-checkbox {
	vertical-align: baseline;
	margin-left: -1.6em; /* Move the checkbox to the left to match other lists indentation. */
}
