.sections {
	section {
		display: grid;
		grid-template-columns:
			[full-start] var(--layout-full)
			[wide-start] var(--layout-wide)
			[content-start] var(--layout-content) [content-end]
			var(--layout-wide) [wide-end]
			var(--layout-full) [full-end];
		padding-top: var(--padding--medium);
		padding-bottom: var(--padding--medium);
		overflow: clip;

		> * {
			grid-column: wide;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.-alt-bg {
			background-color: var(--color--background--alt);
		}
	}
}
